

<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">



    <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('放款日期')}:</label>
    <div class="col-xs-12 col-sm-8">

    <input id="c-lending_date" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[lending_date]" type="text">

    </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('公司/台数')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <input id="c-firm_stage" data-rule="required;" class="form-control" name="row[firm_stage]" type="text" placeholder="格式如:君忆/5台">
        </div>
    </div>




    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>



