

<form id="newactual_amount-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <br>
    <br>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('实收订车金额')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <input id="c-amount_collected" data-rule="required;" class="form-control" name="row[amount_collected]" type="number">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('装饰')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <input id="c-decorate" class="form-control" name="row[decorate]" type="text" placeholder="选填">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">定金合同（多图）:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-deposit_contractimages"  class="form-control" size="50"
                       name="sales_order[deposit_contractimages]"
                       type="text">
                <div class="input-group-addon no-border no-padding">
                    <span>
                        <button type="button" id="plupload-deposit_contractimages" class="btn btn-danger plupload"
                                data-input-id="c-deposit_contractimages"
                                data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true"
                                data-preview-id="p-deposit_contractimages">
                            <i class="fa fa-upload"></i> {:__('Upload')}</button>
                    </span>
                    <span>

                    </span>
                </div>
                <span class="msg-box n-right" for="c-deposit_contractimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-deposit_contractimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('定金收据上传')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-deposit_receiptimages" class="form-control" size="50"
                       name="sales_order[deposit_receiptimages]"
                       type="text" placeholder="必填">
                <div class="input-group-addon no-border no-padding">
                    <span>
                        <button type="button" id="plupload-deposit_receiptimages" class="btn btn-danger plupload"
                                data-input-id="c-deposit_receiptimages"
                                data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true"
                                data-preview-id="p-deposit_receiptimages">
                            <i class="fa fa-upload"></i> {:__('Upload')}</button>
                    </span>
                    <span>

                    </span>
                </div>
                <span class="msg-box n-right" for="c-deposit_receiptimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-deposit_receiptimages"></ul>
        </div>
    </div>


    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>


