<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        <div class="panel-lead"><em>销售订单中心&销售签单流程</em></div>
        <div>
            
            <ol>
                <li class="text-danger ">请根据客户实际购车方案选择对应购车方式</li>
                <p></p>
                <li class="text-danger ">如你的实际销售方案与系统发布的方案不一致，请向方案人员确认沟通，添加专属定制方案。<br>
                    以租代购（新车）、全款（新车）方案  由产品经理发布，纯租、全款（二手车）、以租代购（二手车）由租车 车管发布，请选择合适的方案发布人员沟通确定方案

                </li>
                <p></p>

                <li class="text-danger">
                    请事先尽量在线下通知客户需要准备齐全购/租的所有资料，包括审核资料、提车资料等
                </li>
                <li class="text-danger">


                    <strong  > <u>如你执意要添加、销售与系统发布的不一样的方案，该条订单可能会被永久删除，你需要重新录入销售订单才可以继续销售，请知悉</u></strong>
                </li>

            </ol>
        </div>
        <ul class="nav nav-tabs" >
            <li class="active text-center"><a href="#order_acar" data-toggle="tab" >以租代购（新车） &nbsp;<span class="pull-right-container">
                    {if $total eq 0}
                    {else /}
                    <small class="badge pull-right bg-red" id="badge_order_acar">{$total} </small>&nbsp;
                    {/if}
                    {if $total1 eq 0}
                    {else /}
                    <small class="badge pull-right bg-green" id="badge_order_acar"> {$total1}</small>
                    {/if}
                    </span></a>

            </li>
            <li><a href="#order_rental" data-toggle="tab" class="text-center"> 纯租 &nbsp;<span class="pull-right-container">

                    {if $total2 eq 0}
                    {else /}
                    <small class="badge pull-right bg-red" id="badge_order_rental">{$total2} </small>&nbsp;
                    {/if}
                    {if $total3 eq 0}
                    {else /}
                    <small class="badge pull-right bg-green" id="badge_order_rental"> {$total3}</small>
                    {/if}
                    </span></a>

            </li>
            <li><a href="#order_second" data-toggle="tab"  class="text-center"> 以租代购（二手车） &nbsp;<span class="pull-right-container">

                    {if $total4 eq 0}
                    {else /}
                    <small class="badge pull-right bg-red" id="badge_order_second">{$total4} </small>&nbsp;
                    {/if}
                    {if $total5 eq 0}
                    {else /}
                    <small class="badge pull-right bg-green" id="badge_order_second"> {$total5}</small>
                    {/if}
                    </span></a>

            </li>
            <li><a href="#order_full" data-toggle="tab"  class="text-center">全款（新车）&nbsp;<span class="pull-right-container">
                
                    {if $total6 eq 0}
                    {else /}
                    <small class="badge pull-right bg-red" id="badge_order_full">{$total6} </small>&nbsp;
                    {/if}
                    {if $total7 eq 0}
                    {else /}
                    <small class="badge pull-right bg-green" id="badge_order_full"> {$total7}</small>
                    {/if}
                    </span></a>
        
            </li>
            <li><a href="#second_order_full" data-toggle="tab"  class="text-center">全款（二手车）&nbsp;<span class="pull-right-container">

                    {if $total8 eq 0}
                    {else /}
                    <small class="badge pull-right bg-red" id="badge_second_order_full">{$total8} </small>&nbsp;
                    {/if}
                    {if $total9 eq 0}
                    {else /}
                    <small class="badge pull-right bg-green" id="badge_second_order_full"> {$total9}</small>
                    {/if}
                    </span></a>
                
            </li>

        </ul>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">


            <!--以租代购订单(新车)-->
            
            <div class="tab-pane fade active in" id="order_acar">
                <div id="toolbar1" class="toolbar"> 
                    <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                    <!-- <a href="javascript:;" class="btn btn-info btn-add" title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('新增销售单')}</a> -->
                    <a href="javascript:;" class="btn btn-info btn-newreserve" data-params="newreserve" title="{:__('新车预定')}" ><i class="fa fa-plus"></i> {:__('新车预定')}</a>
                    <a href="javascript:;" class="btn btn-info btn-danger" title="{:__('如需退车，请及时联系管理员')}" ><i class="fa fa-hand-o-right"></i> {:__('如需退车，请及时联系管理员')}</a>
                    <!-- <a href="javascript:;" class="btn btn-success btn-edit btn-disabled disabled {:$auth->check('order/salesorder/edit')?'':'hide'}" title="{:__('Edit')}" ><i class="fa fa-pencil"></i> {:__('Edit')}</a> -->
                    <!-- <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('order/salesorder/del')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a> -->
                    <!-- <a href="javascript:;" class="btn btn-danger btn-import {:$auth->check('order/salesorder/import')?'':'hide'}" title="{:__('Import')}" id="btn-import-file" data-url="ajax/upload" data-mimetype="csv,xls,xlsx" data-multiple="false"><i class="fa fa-upload"></i> {:__('Import')}</a> -->

                    <!-- <div class="dropdown btn-group {:$auth->check('order/salesorder/multi')?'':'hide'}">
                        <a class="btn btn-primary btn-more dropdown-toggle btn-disabled disabled" data-toggle="dropdown"><i class="fa fa-cog"></i> {:__('More')}</a>
                        <ul class="dropdown-menu text-left" role="menu">
                            <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=normal"><i class="fa fa-eye"></i> {:__('Set to normal')}</a></li>
                            <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=hidden"><i class="fa fa-eye-slash"></i> {:__('Set to hidden')}</a></li>
                        </ul>
                    </div> -->
                </div>
                <table id="orderAcar" class="table table-striped table-bordered table-hover table-nowrap"
                       
                       width="100%">
                </table>
            </div>


            <!--纯租订单-->
            
            <div class="tab-pane fade" id="order_rental">
                    <div id="toolbar2" class="toolbar">
                       
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <!--<a href="javascript:;" class="btn btn-success rental-list" title="{:__('新增租车单')}" ><i class="fa fa-plus"></i> {:__('新增租车单')}</a>-->
                        <a href="javascript:;" class="btn btn-info btn-reserve" data-params="reserve" title="{:__('租车预定')}" ><i class="fa fa-plus"></i> {:__('租车预定')}</a>
                        <a href="javascript:;" class="btn btn-info btn-danger" title="{:__('如需退车，请及时联系管理员')}" ><i class="fa fa-hand-o-right"></i> {:__('如需退车，请及时联系管理员')}</a>
                        <!-- <a href="javascript:;" class="btn btn-success btn-edit btn-disabled disabled {:$auth->check('order/rentalorder/edit')?'':'hide'}" title="{:__('Edit')}" ><i class="fa fa-pencil"></i> {:__('Edit')}</a> -->
                        <!-- <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('order/rentalorder/del')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a> -->
                        <!-- <a href="javascript:;" class="btn btn-danger btn-import {:$auth->check('order/rentalorder/import')?'':'hide'}" title="{:__('Import')}" id="btn-import-file" data-url="ajax/upload" data-mimetype="csv,xls,xlsx" data-multiple="false"><i class="fa fa-upload"></i> {:__('Import')}</a> -->
    
                        <!-- <div class="dropdown btn-group {:$auth->check('order/salesorder/multi')?'':'hide'}">
                            <a class="btn btn-primary btn-more dropdown-toggle btn-disabled disabled" data-toggle="dropdown"><i class="fa fa-cog"></i> {:__('More')}</a>
                            <ul class="dropdown-menu text-left" role="menu">
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=normal"><i class="fa fa-eye"></i> {:__('Set to normal')}</a></li>
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=hidden"><i class="fa fa-eye-slash"></i> {:__('Set to hidden')}</a></li>
                            </ul>
                        </div> -->
                    </div>
                    <table id="orderRental" class="table table-striped table-bordered table-hover table-nowrap"
                          
                           width="100%">
                    </table>
                </div>


            <!--以租代购订单(二手车)-->
            
            <div class="tab-pane fade" id="order_second">
                <div id="toolbar3" class="toolbar">
                        
                    <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                    <a href="javascript:;" class="btn btn-info btn-secondreserve" title="{:__('二手车预定')}" ><i class="fa fa-plus"></i> {:__('二手车预定')}</a>
                    <a href="javascript:;" class="btn btn-info btn-danger" title="{:__('如需退车，请及时联系管理员')}" ><i class="fa fa-hand-o-right"></i> {:__('如需退车，请及时联系管理员')}</a>
                    <!-- <a href="javascript:;" class="btn btn-success btn-edit btn-disabled disabled {:$auth->check('order/secondsalesorder/edit')?'':'hide'}" title="{:__('Edit')}" ><i class="fa fa-pencil"></i> {:__('Edit')}</a> -->
                    <!-- <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('order/secondsalesorder/del')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a> -->
                    <!-- <a href="javascript:;" class="btn btn-danger btn-import {:$auth->check('order/secondsalesorder/import')?'':'hide'}" title="{:__('Import')}" id="btn-import-file" data-url="ajax/upload" data-mimetype="csv,xls,xlsx" data-multiple="false"><i class="fa fa-upload"></i> {:__('Import')}</a> -->

                    <!-- <div class="dropdown btn-group {:$auth->check('order/secondsalesorder/multi')?'':'hide'}">
                        <a class="btn btn-primary btn-more dropdown-toggle btn-disabled disabled" data-toggle="dropdown"><i class="fa fa-cog"></i> {:__('More')}</a>
                        <ul class="dropdown-menu text-left" role="menu">
                            <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=normal"><i class="fa fa-eye"></i> {:__('Set to normal')}</a></li>
                            <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=hidden"><i class="fa fa-eye-slash"></i> {:__('Set to hidden')}</a></li>
                        </ul>
                    </div> -->
                </div>
                <table id="orderSecond" class="table table-striped table-bordered table-hover table-nowrap"
                       
                       width="100%">
                </table>

            </div>

            <!--全款(新车)-->
            
            <div class="tab-pane fade" id="order_full">
                <div id="toolbar4" class="toolbar">
                        
                    <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                    <a href="javascript:;" class="btn btn-info btn-fulladd" title="{:__('新增全款(新车)单')}" ><i class="fa fa-plus"></i> {:__('新增全款单')}</a>
                    <a href="javascript:;" class="btn btn-info btn-danger" title="{:__('如需退车，请及时联系管理员')}" ><i class="fa fa-hand-o-right"></i> {:__('如需退车，请及时联系管理员')}</a>
                    <!-- <a href="javascript:;" class="btn btn-success btn-edit btn-disabled disabled {:$auth->check('order/fullparmentorder/edit')?'':'hide'}" title="{:__('Edit')}" ><i class="fa fa-pencil"></i> {:__('Edit')}</a> -->
                    <!-- <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('order/fullparmentorder/del')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a> -->
                    <!-- <a href="javascript:;" class="btn btn-danger btn-import {:$auth->check('order/fullparmentorder/import')?'':'hide'}" title="{:__('Import')}" id="btn-import-file" data-url="ajax/upload" data-mimetype="csv,xls,xlsx" data-multiple="false"><i class="fa fa-upload"></i> {:__('Import')}</a> -->

                    <!-- <div class="dropdown btn-group {:$auth->check('order/fullparmentorder/multi')?'':'hide'}">
                        <a class="btn btn-primary btn-more dropdown-toggle btn-disabled disabled" data-toggle="dropdown"><i class="fa fa-cog"></i> {:__('More')}</a>
                        <ul class="dropdown-menu text-left" role="menu">
                            <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=normal"><i class="fa fa-eye"></i> {:__('Set to normal')}</a></li>
                            <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=hidden"><i class="fa fa-eye-slash"></i> {:__('Set to hidden')}</a></li>
                        </ul>
                    </div> -->
                </div>
                <table id="orderFull" class="table table-striped table-bordered table-hover table-nowrap"
                        
                       width="100%">
                </table>

            </div>
            <!--全款(二手车)-->

            <div class="tab-pane fade" id="second_order_full">
                <div id="toolbar5" class="toolbar">

                    <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                    <a href="javascript:;" class="btn btn-info btn-secondfulladd" title="{:__('新增全款（二手车）单')}" ><i class="fa fa-plus"></i> {:__('新增全款（二手车）预定')}</a>
                    <a href="javascript:;" class="btn btn-info btn-danger" title="{:__('如需退车，请及时联系管理员')}" ><i class="fa fa-hand-o-right"></i> {:__('如需退车，请及时联系管理员')}</a>

                </div>
                <table id="secondOrderFull" class="table table-striped table-bordered table-hover table-nowrap"

                       width="100%">
                </table>

            </div>
        </div>
    </div>
</div>