
<form id="details-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('admin/Imagedownload/pack')}">
    <h3>
        <center>
            <h2>基本资料</h2>
        </center>
    </h3>
    <br>

    <div class="container-fulid">

        <br>
        <div class="form-group">
            <div class="col-xs-12 col-sm-8 col-md-3">
                <strong>{:__('Createtime')}：</strong> {$row.createtime|date='Y-m-d H:i:s',###}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6">
                <strong>{:__('销售车型/方案')}：</strong> {$row.plan_name}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-3">
                <strong>{:__('Phone')}：</strong> {$row.phone}
            </div>
        </div>
        <hr>
        <div class="form-group">

            <div class="col-xs-12 col-sm-8 col-md-2">
                <strong>{:__('Username')}：</strong> {$row.username} {if condition="$row.genderdata_text eq '男'"} &nbsp;
                <span class="fa fa-male text-info"></span>
                {else /}
                <span class="fa fa-female" style="color:palevioletred"></span>

                {/if}

            </div>
            <div class="col-xs-12 col-sm-8 col-md-3">
                <strong>{:__('Id_card')}：</strong> {$row.id_card}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-2">
                <strong>{:__('实际押金（元）')}：</strong> {$row.cash_pledge}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-2">
                <strong>{:__('实际租金（元）')}：</strong> {$row.rental_price}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-2">
                <strong>{:__('租期（月）')}：</strong> {$row.tenancy_term}
            </div>

        </div>

        <hr>

        <div class="form-group">

            <div class="col-xs-12 col-sm-8 col-md-6">
                <strong>{:__('Emergency_contact_1')}：</strong> {$row.emergency_contact_1}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6">
                <strong>{:__('Emergency_contact_2')}：</strong> {$row.emergency_contact_2}
            </div>

        </div>

        <hr>

        <div class="form-group change-image">

            <div class="col-xs-12 col-sm-8 col-md-6">
                <strong>{:__('身份证正反面')}：</strong>
                {foreach $id_cardimages as $k => $v}

                    <img src="{$cdn}{$v}" alt="{:__('身份证正反面')}" style="width:80px;height:80px;">
                 {/foreach}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6">
                <strong>{:__('驾照正副页')}：</strong>
                {foreach $drivers_licenseimages as $k => $v}

                    <img src="{$cdn}{$v}" alt="{:__('驾照正副页')}" style="width:80px;height:80px;">
                 {/foreach}
            </div>
        </div>
        <hr>
        <div class="form-group change-image">

            <div class="col-xs-12 col-sm-8 col-md-6">
                <strong>{:__('户口簿【首页、户主页、本人页】')}：</strong>
                {foreach $residence_bookletimages as $k => $v}

                    <img src="{$cdn}{$v}" alt="{:__('户口簿【首页、主人页、本人页】')}" style="width:80px;height:80px;">
                 {/foreach}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6" style="line-height: 80px" id="clear-div">
                <strong>{:__('通话清单')}：</strong>
                {foreach $call_listfilesimages as $k => $v}
                <a href="{$cdn}{$v}" target="_blank">
                    <button type="button" class="btn btn-info">查看通话清单</button>
                </a> {/foreach}
            </div>
        </div>
        <hr>
    </div>

    <input type="hidden" id="hid" name="all">
    <input type="hidden" id="font" name="all_font">
    <input type="hidden" id="username" name="username" value="{$row.username}">
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-5"></label>

        <div class="col-xs-12 col-sm-5">
            <button class="btn btn-success btn-embossed disabled">{:__('下载图片')}</button>

        </div>
    </div>
</form>

<script>
    $(function () {
        image_preview($("img"));


        var outside = $(".change-image").find("div:not('#clear-div')");

        var btn = $(".btn-embossed");

        outside.css({"cursor": "pointer"});

        outside.each(function () {
            $(this).on('click', function () {


                if ($(this).find(".text-warning").length == 0) {
                    $(this).append("<span class='check-span' style='float: right;padding-top: 27px'><span class='text-warning' style='font-size: large'>已选中</span><i class=\"fa fa-check text-success fa-lg\"></i></span>");


                } else {
                    $(this).find(".check-span").remove();
                }

                var selects = outside.find(".check-span");


                if (selects.length == 0) {
                    btn.addClass("disabled");

                } else {
                    if (btn.hasClass("disabled")) {
                        btn.removeClass("disabled");
                    }

                }

                var all_val = [];
                var all_font = [];
                $(".change-image").find(".check-span").each(function () {
                    var count = 1;
                    $(this).prevAll("img").each(function () {
                        all_val.push($(this).attr("src"));

                        var fonts = $.trim($(this).prevAll("strong").html());

                        fonts = fonts.replace("：", "");

                        //判断如果文件名重复就加括号数字区分
                        if(all_font.indexOf(fonts)>-1){
                            fonts = fonts+"("+count+")";

                            count++;
                        }

                        all_font.push(fonts);

                    })


                })

                $("#hid").val(all_val);
                $("#font").val(all_font);


            })
        })
        //判断如果是单图，直接在js下载图片
        $(".btn-embossed").on('click', function (event) {

            var selects = outside.find(".check-span");

            if (selects.length == 1) {

                var src = selects.prevAll("img");

                if (src.length == 1) {
                    event.preventDefault();
                    download(src.attr("src"));
                }else{
                    layer.msg('加载中', {
                        icon: 16,
                        shade: 0.01,
                        time: 1000
                    });
                }


            } else {
                layer.msg('加载中', {
                    icon: 16,
                    shade: 0.01,
                    time: 1000
                });
            }

        });

        //浏览器单个下载图片
        function download(src) {

            var $a = document.createElement('a');
            $a.setAttribute("href", src);
            $a.setAttribute("download", "");


            var evObj = document.createEvent('MouseEvents');
            evObj.initMouseEvent('click', true, true, window, 0, 0, 0, 0, 0, true, true, true, true, 0, null);
            $a.dispatchEvent(evObj);
        };

    })
</script>