

<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Openingbank')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-openingbank" class="form-control" name="row[openingbank]" type="text" value="{$row.openingbank}" placeholder="选填">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bankcardnumber')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bankcardnumber" class="form-control" name="row[bankcardnumber]" type="number" value="{$row.bankcardnumber}" placeholder="选填">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Totalmoney')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-totalmoney" data-rule="required" class="form-control" name="row[totalmoney]" type="number" value="{$row.totalmoney}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Downpayment')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-downpayment" data-rule="required" class="form-control" name="row[downpayment]" type="number" value="{$row.downpayment}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Moneyreceived')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-moneyreceived" data-rule="required" class="form-control" name="row[moneyreceived]" type="number" value="{$row.moneyreceived}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('差额&nbsp;&nbsp;(元)&nbsp; ')} :</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-marginmoney" data-rule="required" class="form-control" name="row[marginmoney]" type="number" value="{$row.marginmoney}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Marginmoney')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bond" data-rule="required" class="form-control" name="order[bond]" type="number" value="{$row.bond}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Gatheringaccount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-gatheringaccount" data-rule="required" class="form-control" name="row[gatheringaccount]" type="text" value="{$row.gatheringaccount}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Note')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-note" class="form-control" name="row[note]" type="number" value="{$row.note}" placeholder="选填">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Decorate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-decorate" class="form-control" name="row[decorate]" type="text" value="{$row.decorate}" placeholder="选填">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('是否打款')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                {empty name="$row.makemoney_status"}
                {foreach name="money_list" item="vo"}
                <label for="makemoney_status" class="test">
                    {eq name="$key" value="1"}
                    <input type="radio" id="makemoney_status" data-rule="required" name="row[makemoney_status]" value="{$key}" checked>{$vo}
                    {else /}
                    <input type="radio" id="makemoney_status" data-rule="required" name="row[makemoney_status]" value="{$key}">{$vo}
                    {/eq}
                </label>
                {/foreach}
                {else /}
                {foreach name="money_list" item="vo"}
                <label for="makemoney_status" class="test">

                    {eq name="$key" value="$row.makemoney_status"}

                    <input type="radio" id="makemoney_status" name="row[makemoney_status]" data-rule="required" value="{$key}" checked>{$vo}
                    {else /}
                    <input type="radio" id="makemoney_status" name="row[makemoney_status]" data-rule="required" value="{$key}">{$vo}
                    {/eq}

                </label>
                {/foreach}
                {/empty}

            </div>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>

