<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <h2>
        <center>当前购车方式：以租代购（二手车）</center>
    </h2>
    <br>


    <center>
        <strong class="text-info"> {:__('如需编辑资料，可选择对应的选项进行编辑操作')}</strong>

    </center>


    <h3>
        <center>基本资料</center>
    </h3>
    <br>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('销售二手车型/方案')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select id="c-plan_car_second_name" data-rule="required" class="form-control selectpicker" name="row[plan_car_second_name]">
                <option value=" " style='display: none'>未选中任何项</option>
                {volist name="newRes" id="vo"}

                <option disabled>{$vo['brand_name']}</option>
                {volist name="vo.data" id="vo_s"} {if condition="$result['plan_id'] eq $vo_s['id']"}
                <option value="{$vo_s['id']}" selected>{$vo_s['models_name']}</option>
                {else /}
                <option value="{$vo_s['id']}">{$vo_s['models_name']}</option>

                {/if} {/volist} {/volist}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Username')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-username" data-rule="required" class="form-control form-control" name="row[username]" type="text" value="{$row.username}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone" data-rule="required" class="form-control form-control" name="row[phone]" type="text" value="{$row.phone}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Id_card')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-id_card" data-rule="required" class="form-control form-control" name="row[id_card]" type="text" value="{$row.id_card}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Genderdata')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="genderdataList" item="vo"}
            <label for="row[genderdata]-{$key}"><input id="row[genderdata]-{$key}" name="row[genderdata]" type="radio" value="{$key}" {in name="key" value="$row.genderdata"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('City')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class='control-relative'><input id="c-city" data-rule="required" class="form-control form-control" data-toggle="city-picker" name="row[city]" type="text" value="{$row.city}"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Detailed_address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-detailed_address" data-rule="required" class="form-control form-control" name="row[detailed_address]" type="text" value="{$row.detailed_address}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Emergency_contact_1')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-emergency_contact_1" data-rule="required" class="form-control form-control" name="row[emergency_contact_1]" type="text" value="{$row.emergency_contact_1}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Emergency_contact_2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-emergency_contact_2" data-rule="required" class="form-control form-control" name="row[emergency_contact_2]" type="text" value="{$row.emergency_contact_2}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Family_members')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-family_members" data-rule="required" class="form-control form-control" name="row[family_members]" type="text" value="{$row.family_members}">
        </div>
    </div>
    <h3>
        <center>客户来源</center>
    </h3>
    <br>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Customer_source')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select id="c-customer_source" data-rule="required" class="form-control selectpicker" name="row[customer_source]" onchange="changeFun(this)">
                {foreach name="customerSourceList" item="vo"}
                <option value="{$key}" {in name="key" value="$row.customer_source" }selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <script type="text/javascript">

        function changeFun(that) {
            var introduce = document.getElementById('introduce-view');

            if (that.value == 'direct_the_guest') {

                introduce.style.setProperty('display', 'none', 'important');


            } else {

                introduce.style.setProperty('display', 'block', 'important');
            }

        }

    </script>
    <div id="introduce-view" {if condition="$row.customer_source eq direct_the_guest" } style="display: none" {else /} style="display: block"
        {/if}>


        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Turn_to_introduce_name')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-turn_to_introduce_name" class="form-control" name="row[turn_to_introduce_name]" type="text" value="{$row.turn_to_introduce_name}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Turn_to_introduce_phone')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-turn_to_introduce_phone" class="form-control" name="row[turn_to_introduce_phone]" type="text" value="{$row.turn_to_introduce_phone}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Turn_to_introduce_card')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-turn_to_introduce_card" class="form-control" name="row[turn_to_introduce_card]" type="text" value="{$row.turn_to_introduce_card}">
            </div>
        </div>


    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Id_cardimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-id_cardimages" data-rule="required" class="form-control form-control" size="50" name="row[id_cardimages]" type="text" value="{$row.id_cardimages}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-id_cardimages" class="btn btn-danger plupload" data-input-id="c-id_cardimages" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-id_cardimages"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-id_cardimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-id_cardimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Drivers_licenseimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-drivers_licenseimages" data-rule="required" class="form-control form-control" size="50" name="row[drivers_licenseimages]" type="text" value="{$row.drivers_licenseimages}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-drivers_licenseimages" class="btn btn-danger plupload" data-input-id="c-drivers_licenseimages" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-drivers_licenseimages"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-drivers_licenseimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-drivers_licenseimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Residence_bookletimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-residence_bookletimages" data-rule="required" class="form-control form-control" size="50" name="row[residence_bookletimages]" type="text" value="{$row.residence_bookletimages}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-residence_bookletimages" class="btn btn-danger plupload" data-input-id="c-residence_bookletimages" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-residence_bookletimages"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-residence_bookletimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-residence_bookletimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Housingimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-housingimages" data-rule="required" class="form-control form-control" size="50" name="row[housingimages]" type="text" value="{$row.housingimages}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-housingimages" class="btn btn-danger plupload" data-input-id="c-housingimages" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-housingimages"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-housingimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-housingimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bank_cardimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-bank_cardimages" data-rule="required" class="form-control form-control" size="50" name="row[bank_cardimages]" type="text" value="{$row.bank_cardimages}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-bank_cardimages" class="btn btn-danger plupload" data-input-id="c-bank_cardimages" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-bank_cardimages"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-bank_cardimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-bank_cardimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Application_formimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-application_formimages" data-rule="required" class="form-control form-control" size="50" name="row[application_formimages]" type="text" value="{$row.application_formimages}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-application_formimages" class="btn btn-danger plupload" data-input-id="c-application_formimages" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-application_formimages"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-application_formimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-application_formimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Call_listfiles')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-call_listfiles" data-rule="required" class="form-control form-control" size="50" name="row[call_listfiles]" type="text" value="{$row.call_listfiles}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-call_listfiles" class="btn btn-danger plupload" data-input-id="c-call_listfiles" data-multiple="true"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-call_listfiles"></span>
            </div>
            
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('New_car_marginimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-new_car_marginimages" class="form-control form-control" size="50" name="row[new_car_marginimages]" type="text" value="{$row.new_car_marginimages}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-new_car_marginimages" class="btn btn-danger plupload" data-input-id="c-new_car_marginimages" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-new_car_marginimages"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-new_car_marginimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-new_car_marginimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Deposit_contractimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-deposit_contractimages" data-rule="required" class="form-control form-control" size="50" name="row[deposit_contractimages]" type="text" value="{$row.deposit_contractimages}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-deposit_contractimages" class="btn btn-danger plupload" data-input-id="c-deposit_contractimages" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-deposit_contractimages"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-deposit_contractimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-deposit_contractimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Deposit_receiptimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-deposit_receiptimages" data-rule="required" class="form-control form-control" size="50" name="row[deposit_receiptimages]" type="text" value="{$row.deposit_receiptimages}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-deposit_receiptimages" class="btn btn-danger plupload" data-input-id="c-deposit_receiptimages" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-deposit_receiptimages"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-deposit_receiptimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-deposit_receiptimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Guarantee_id_cardimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-guarantee_id_cardimages" class="form-control form-control" size="50" name="row[guarantee_id_cardimages]" type="text" value="{$row.guarantee_id_cardimages}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-guarantee_id_cardimages" class="btn btn-danger plupload" data-input-id="c-guarantee_id_cardimages" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-guarantee_id_cardimages"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-guarantee_id_cardimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-guarantee_id_cardimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Guarantee_agreementimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-guarantee_agreementimages" class="form-control form-control" size="50" name="row[guarantee_agreementimages]" type="text" value="{$row.guarantee_agreementimages}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-guarantee_agreementimages" class="btn btn-danger plupload" data-input-id="c-guarantee_agreementimages" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-guarantee_agreementimages"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-guarantee_agreementimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-guarantee_agreementimages"></ul>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
