<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>君忆司机车辆服务中心</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="{$config.upload.cdnurl}/jyzj.junyiqiche.com/mui/css/mui.css">
<!--<link rel="stylesheet" href="{$config.upload.cdnurl}/jyzj.junyiqiche.com/mui/css/icons-extra.css">-->

<link rel="stylesheet" type="text/css" href="https://cdn.90so.net/layui/2.4.5/css/layui.css"/>


<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>

    .title {
        margin: 20px 15px 10px;
        color: #6d6d72;
        font-size: 15px;
    }

    .oa-contact-cell.mui-table .mui-table-cell {
        padding: 11px 0;
        vertical-align: middle;
    }

    .oa-contact-cell {
        position: relative;
        margin: -11px 0;
    }

    .oa-contact-avatar {
        width: 75px;
    }

    .oa-contact-avatar img {
        border-radius: 50%;
    }

    .oa-contact-content {
        width: 100%;
    }

    .oa-contact-name {
        margin-right: 20px;
    }

    .oa-contact-name, oa-contact-position {
        float: left;
    }
</style>
<!--===============================================================================================-->
<body class="mui-ios mui-ios-11 mui-ios-11-0" style="background-color: white">
<!--<header class="mui-bar mui-bar-nav">-->
<!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
<!--<h1 class="mui-title">底部选项卡-div模式</h1>-->
<!--</header>-->
<nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item mui-active" href="#tabbar">
        <span class="mui-icon mui-icon-map"> <span class="mui-badge resCountBadge">{if $count}{$count} {else /}0{/if}</span></span>
        <span class="mui-tab-label">违章信息</span>
    </a>
    <a class="mui-tab-item " href="#payment">
        <span class="mui-icon mui-icon-list"> </span>
        <span class="mui-tab-label">还款中心</span>
    </a>
    <a class="mui-tab-item " href="#tabbar-with-chat">
        <span class="mui-icon mui-icon-navigate"></span>
        <span class="mui-tab-label">联系我们</span>
    </a>
    <!--<a class="mui-tab-item" href="#tabbar-with-contact">-->
    <!--<span class="mui-icon mui-icon-contact"></span>-->
    <!--<span class="mui-tab-label">联系我们</span>-->
    <!--</a>-->
    <!--<a class="mui-tab-item" href="#tabbar-with-map">-->
    <!--<span class="mui-icon mui-icon-gear"></span>-->
    <!--<span class="mui-tab-label">设置</span>-->
    <!--</a>-->
</nav>
<div class="mui-content" style="background-color: white">
    <div id="tabbar" class="mui-control-content mui-active">
        <div class="mui-card" style="margin: 0 0 10px 0;position: fixed;top: 0;z-index: 99999;;min-width: 100%">
            <div class="mui-card-header mui-card-media" style="background-color: #F2F2F2">
                <img src="{$userInfo.headimgurl}"/>

                <!--<img src="{$config.upload.cdnurl}/jyzj.junyiqiche.com/imgs/car2.png" />-->
                <div class="mui-media-body">
                    <strong>{$order_details.orderdetails.licensenumber}
                        &nbsp;&nbsp;{$order_details.models_name}</strong>
                    <!--{$licensenumber}-->
                    <p > 车架号 :<span class="frame">{$order_details.orderdetails.frame_number}</span>&nbsp;&nbsp; <span class="text-info frame_number"> 修改</span>
                    </p>
                    <p >发动机号：<span class="engine">{$order_details.orderdetails.engine_number}</span> &nbsp;&nbsp; <span class="text-info engine_number"> 修改</span>
                    </p>
                </div>
                <!--<img class="mui-pull-left" src="../images/logo.png" width="34px" height="34px" />
                <h2>小M</h2>
                <p>发表于 2016-06-30 15:30</p>-->
            </div>

            <ul class="mui-table-view mui-grid-view mui-grid-9">
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4" style="padding:0 15px ">

                    <!--<span class="mui-icon mui-icon-home"></span>-->
                    <p class="">累计违章：</p>
                    <p><span class="text-success "><strong class="resCout">{$count|default="0"}</strong></span> <span class=""
                                                                                                          style="color: #000">条</span>

                    </p>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4" style="padding:0 15px ">
                    <!--<span class="mui-icon mui-icon-email"><span class="mui-badge">5</span></span>-->
                    <p class="">累计罚款：</p>
                    <p><span class="text-success "><strong class="resTotal_fine">{$order_details.orderdetails.total_fine}</strong></span>
                        <span class=""
                              style="color: #000">元</span></p>


                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4" style="padding:0 15px ">

                    <!--<span class="mui-icon mui-icon-chatbubble"></span>-->
                    <p class=" ">累计扣分：
                    <p/>
                    <p><span class="text-success "><strong class="resTotal_deduction">{$order_details.orderdetails.total_deduction}</strong></span>
                        <span class=""
                              style="color: #000">分</span></p>


                </li>


            </ul>

            <div class=""
                 style=" text-align: center;vertical-align: middle;padding:10px 0 ;background-color: #F2F2F2;border-top: 1px solid #ddd; ">
   <span class="retsInfo">

                </span>
                {if condition="$userinfo.query_number eq 0 "}

                <button type="button" class="mui-btn mui-btn-warning mui-icon mui-icon-refreshempty " id="rets"
                        style="font-size: 12px">

                    下周可再次更新
                </button>
                {else /}
                <button type="button" class="mui-btn mui-btn-primary mui-icon mui-icon-refreshempty query_violation"
                        style="font-size: 12px">
                    更新我的违章信息
                </button>
                {/if}
                <div style="display: inline-block;position: absolute;right: 6px;top: 136px;" class="rule"><u
                        class="text-info">规则说明 <span class="mui-icon mui-icon-arrowright"
                                                     style="font-size: 14px"></span></u></div>
                <p style="margin-bottom: 0" class="upTime">上一次更新时间：{$query_time} </p>
            </div>
            <!--<img src="../images/yuantiao.jpg" alt="" width="100%"/>-->
        </div>


        <span class="infos">
            {if $detail}
        {foreach $detail as $k => $v}
        <div class="mui-card" {if $k eq 0} style="margin-top: 204px;" {else /}{/if}>
            <div class="mui-card-header">{$order_details.orderdetails.licensenumber}</div>
            <div class="mui-card-content">
                <div class="mui-card-content-inner">
                    <ul style="margin-bottom: 0;padding-left: 15px;">
                        <li>违法时间：{$v.date}</li>
                        <li>违法地点：{$v.wzcity}{$v.area}</li>
                        <li>违法行为：{$v.act}</li>

                    </ul>
                </div>
            </div>
            <div class="mui-card-footer " style="text-align: center; ">
                <div class=" " style=" width: 33% ;border-right: 1px solid #ddd">罚款：{$v.money}元</div>

                <div class="" style="width: 33%;border-right: 1px solid #ddd">扣分：{$v.fen}分</div>
                {if condition="$v.handled eq 1"}
                <div class="" style="width: 33%;color:  ">已处理</div>
                {elseif condition="$vo.handled eq 0"}
                <div class="" style="width: 33%;color: red">未处理，未缴款</div>
                {else /}
                <div class="" style="width: 33%;color: red">未知</div>
                {/if}
                


            </div>
    </div>
    {/foreach}
    {else /}
    <span class="emptyInfos">11</span>
    <div class="text-success" style="margin-top: 304px;text-align: center;"> <strong> <span class="mui-icon mui-icon-checkmarkempty"></span>暂无违章数据，请继续保持！</strong></div>
        {/if}

    </span>

    <!--<div class="mui-card-footer">-->
    <!--<a class="mui-card-link">Like</a>-->
    <!--<a class="mui-card-link">Comment</a>-->
    <!--<a class="mui-card-link">Read more</a>-->
    <!--</div>-->
</div>

<div id="payment" class="mui-control-content ">
    <div class="title">即将开放</div>


</div>
<div id="tabbar-with-chat" class="mui-control-content ">
    <img src="{$config.upload.cdnurl}/jyzj.junyiqiche.com/imgs/051138456dc5e959b1b54f86598d5ca.jpg" alt="" width="100%">
    <!--<ul class="mui-table-view mui-table-view-chevron">-->
    <!--<li class="mui-table-view-cell"><a href="" class="mui-navigate-right">Item 1</a></li>-->
    <!--<li class="mui-table-view-cell"><a href="" class="mui-navigate-right">Item 2</a></li>-->

    <!--</ul>-->

</div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.js"></script>
<script src="https://cdn.90so.net/layui/2.4.5/layui.js"></script>
<script src="{$config.upload.cdnurl}/jyzj.junyiqiche.com/mui/js/mui.min.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
<script>
    var h = "<ul style='font-size: 12px'><li> 公司户处理违章需要到公司拿：营业执照副本（盖鲜章）、委托书</li><li> 每位司机每周可查询/更新一次违章</li></ul>"
    $('.rule').on('click', function () {

        mui.alert('提示', h, '知道了');
    })
    window.onload = function () {

        var ajaxurl = '{:url("index/sharedata")}';
        var urll = location.href.split('#')[0];
        $.ajax({
            url: ajaxurl,
            type: "post",
            data: {urll: urll},
            dataType: "json",
            success: function (s) {
                f = $.parseJSON(s);
                console.log(f.url + '22222222222222222222222222222222');

                wx.config({
                    debug: false, //分享成功后可以关闭 false
                    appId: f.appid,
                    timestamp: f.timestamp,
                    nonceStr: f.nonceStr,
                    signature: f.signature,
                    jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage']
                });
                wx.ready(function () {
                    /*   wx.checkJsApi({
                           jsApiList: [
                               'getNetworkType',
                               'previewImage'
                           ],
                           success: function (res) {
                               // alert("checkJsApi=="+ JSON.stringify(res));
                           }
                       });*/
                    wx.onMenuShareTimeline({
                        title: '{$share_title}', // 分享标题
                        link: 'http://jyzj.junyiqiche.com/index', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                        imgUrl: "{$share_img}", // 分享图标 使用绝对路径
                        success: function () {

                        }
                    });
                    wx.onMenuShareAppMessage({
                        title: '{$share_title}',
                        desc: "{$share_body}", // 分享描述
                        link: 'http://jyzj.junyiqiche.com/index', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                        imgUrl: "{$share_img}", // 分享图标 使用绝对路径
                        type: '', // 分享类型,music、video或link，不填默认为link
                        dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                        success: function () {

                        }
                    });
                });

            },
            error: function () {
                console.log("通信失败");
            }
        })
    }




    layui.use(['layer', 'form'], function () {
        var layer = layui.layer
            , form = layui.form;


        $('.query_violation').on('click', function () {
            var load = layer.load(2);

            $.ajax({
                url: 'selCarInfo',
                success: function (data) {
                    console.log(data);
                    var h = '';
                    if (data.code == 1) {
                        $('.infos').html('');
                        layer.msg(data.msg);
                        res = data.data.lists;
                        if (res) {  //违章不为空
                            for (var i in res) {
                                var m = '';
                                if (i == 0) {

                                    m = 'margin-top: 204px;';
                                }
                                h += ' <div class="mui-card"   style="' + m + '"><div class="mui-card-header">{$licensenumber}</div><div class="mui-card-content"><div class="mui-card-content-inner"><ul style="margin-bottom: 0;padding-left: 15px;"><li>违法时间：' + res[i]['date'] + '</li><li>违法地点：' + res[i]['wzcity'] + res[i]['area'] + '</li><li>违法行为：' + res[i]['act'] + '</li></ul></div></div><div class="mui-card-footer " style="text-align: center; "><div class=" " style=" width: 33% ;border-right: 1px solid #ddd">罚款：' + res[i]['money'] + '元</div><div class="" style="width: 33%;border-right: 1px solid #ddd">扣分：' + res[i]['fen'] + '分</div><div class="" style="width: 33%;color: red">未处理，未缴款</div></div></div>	';


                            }

                            console.log($('#rets'));

                            $('.query_violation').hide();
                            $('.retsInfo').append('<button type="button" class="mui-btn mui-btn-warning mui-icon mui-icon-refreshempty " style="font-size: 12px">下周可再次更新</button>');

                            $('.resCout,.resCountBadge').text(data.data.counts);
                            $('.resTotal_fine').text(data.data.total_money);
                            $('.resTotal_deduction').text(data.data.total_fraction);
                            $('.upTime').text(data.data.upTime);
                            layer.close(load);
                            $('.infos').html('').append(h)
                        }
                        else{  //mei有违章数据

                            $('.emptyInfos').append('<div class="text-success" style="margin-top: 304px;text-align: center;"> <strong> <span class="mui-icon mui-icon-checkmarkempty"></span>暂无违章数据，请继续保持！</strong></div>')
                        }

                    }
                    else {
                        layer.close(load);
                        layer.alert(data.msg);
                        return false;

                    }

                },
                error: function () {
                    layer.close(load);

                }
            })

        })
        //修改车架号
        $('.frame_number').on('click', function () {
            var frame_number_text = $('.frame').text();
            var id = {$id};
            layer.prompt({title: '修改车架号，并确认', formType: 0, value: frame_number_text}, function(frame_number, index){

                if($.trim(frame_number_text)==$.trim(frame_number)) {layer.msg('未修改任何项！');return false;};
                $.post('frame_number',{id: id, frame_number: frame_number},function(data){
                    layer.close(index);
                    console.log(data);
                    layer.msg(data.msg);
                    if(data.code == 1) {
                        $('.frame').text(frame_number);
                    }
                })
                 
            
            });

        })

        //修改发动机号
        $('.engine_number').on('click', function () {
            var engine_number_text = $('.engine').text();
            var id = {$id};
            layer.prompt({title: '修改发动机号，并确认', formType: 0, value: engine_number_text}, function(engine_number, index){
                if($.trim(engine_number_text)==$.trim(engine_number)) {layer.msg('未修改任何项！');return false;};
                $.post('engine_number',{id: id, engine_number: engine_number},function(data){
                    layer.close(index);
                    console.log(data);
                    layer.msg(data.msg);
                    if(data.code == 1) {
                        $('.engine').text(engine_number);
                    }
                })
    
            });

        })
    });
</script>