{extend name="common/layoutextend" /}
{block name="body"}
    <div style="text-align: center">
        <h2><img src="{$userInfo.headimgurl}" alt="" width="40" height="40"> <span>{$userInfo.nickname}</span></h2>
    </div>
    <br>
    <h3>
        <center>{$licensenumber}</center>
    </h3>
    <br>

    <blockquote class="layui-elem-quote" style="text-align: center;color:green;font-weight: bold">您已认证！<br>

    </blockquote>
如需车辆违章查询自助服务，请访问<a href="https://driver.junyiqiche.com/index" style="color: #01AAED;"><u>君忆车主司机车辆服务中心</u></a>
    <br>




 {/block}