{extend name="common/layoutextend" /}
{block name="body"}
    <div style="text-align: center">
        <h2><img src="{$userInfo.headimgurl}" alt="" width="40" height="40"> <span>{$userInfo.nickname}</span></h2>
    </div>
    <br>
    <h3 class="text-success">
        <center>君忆司机认证中心</center>
    </h3>
    <br>
    <div class=" ">为了能向君忆司机提供更多的车辆贴心服务，我们邀请您简单的填写以下信息来完成您的车辆认证。</div>
    <br>


    <div class="layui-row">
        <div class="layui-col-sm6" style="">
            <form class="layui-form layui-form-pane">
                <div class="layui-form-item">
                    <label class="layui-form-label">您的车牌号</label>
                    <div class="layui-input-block">
                        <input type="text" name="licensenumber" required lay-verify="required"
                               placeholder="格式如：川A3UU23 ，区分大写" value="川AC14V1" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">身份证号</label>
                    <div class="layui-input-block">
                        <input type="text" name="id_card" placeholder="输入您的身份证号" required lay-verify="required"
                               autocomplete="off" pattern="[0-9]*" value=" 512921197503121133" class="layui-input">
                    </div>
                </div>
                <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">手机号</label>-->
                <!--<div class="layui-input-block">-->
                <!--<input type="text" name="phone" placeholder="" autocomplete="off" pattern="[0-9]*" class="layui-input">-->
                <!--</div>-->
                <!--</div>-->
                <div class="layui-form-item">

                    <div class="">
                        已识别信息：
                        <div class="applyInfo" style="text-align: center;color: green">

                        </div>
                    </div>
                </div>
                <div class="layui-form-item" style="text-align: center;">
                    <button class="layui-btn " lay-submit lay-filter="formDemo" style="width: 60%;">查询</button>
                </div>
                <input type="hidden" value="">
            </form>
            <div class="layui-form-item" style="text-align: center;">
                <button class="layui-btn  formDemo2" style="width: 60%;background-color:#FF5722;  display: none">
                    确认信息无误，提交认证
                </button>
            </div>

        </div>
    </div>

{/block}
