<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .box{
            margin: 10% auto;
            width: 400px;
            height: 400px;
            background: #ffe57e;
            background: url("https://test.jyzj.junyiqiche.com{$qrcode}") no-repeat;
            background-size: contain;
        }
    </style>
</head>
<body>
<div class="box">
    <!--<img src="https://test.jyzj.junyiqiche.com{$qrcode}" alt="">-->
</div>
</body>
</html>