<style>
    .table th, .table td {
        text-align: center;
        vertical-align: middle !important;
    }

    .tr-click {
        cursor: pointer;
    }
</style>

<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('合同编号')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-name" class="form-control" data-rule="required" name="row[contract_number]" type="text"-->
                   <!--value="{$row.contract_number}">-->
        <!--</div>-->
    <!--</div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('南商代扣服务费(元)')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-withholding_service" data-rule="required" class="form-control" name="order[withholding_service]"
                   type="number" value="{$row.withholding_service}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('其他行')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-other_lines" data-rule="required" class="form-control" name="row[other_lines]" type="text"
                   value="{$row.other_lines}">
        </div>
    </div>
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('首期款(元)')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-downpayment" data-rule="required" class="form-control" name="order[downpayment]" type="number"-->
                   <!--value="{$row.downpayment}">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('首期服务费(元)')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-service_charge" data-rule="required" class="form-control" name="order[service_charge]"-->
                   <!--type="number" value="{$row.service_charge}">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label class="control-label col-xs-12 col-sm-2">{:__('收款账户')}:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!--<input id="c-collect_account" data-rule="required" class="form-control" name="row[collect_account]"-->
    <!--type="text" value="{$row.collect_account}">-->
    <!--</div>-->
    <!--</div>-->

    <table class="table table-bordered table-striped table-hover click-table" style="width:80%;margin: auto">
        <tbody class="">
        <th colspan="2"> 资料类型</th>
        <th>是否入库</th>
        <tr class="tr-click">
            <td colspan="2">身份证</td>
            {empty name="$row.id_card"}
            {empty name="$images.id_cardimages"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[id_card]" value="no">
            {else /}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[id_card]" value="yes">
            {/empty}
            {else /}
            {eq name="$row.id_card" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[id_card]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[id_card]" value="no">
            {/eq}
            {/empty}
        </tr>

        <tr class="tr-click">
            <td colspan="2">户口复印件</td>
            {empty name="$row.registered_residence"}
            {empty name="$images.residence_bookletimages"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[registered_residence]" value="no">
            {else /}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[registered_residence]" value="yes">
            {/empty}
            {else /}
            {eq name="$row.registered_residence" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[registered_residence]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[registered_residence]" value="no">
            {/eq}
            {/empty}
        </tr>

        <tr class="tr-click">
            <td colspan="2">结婚证</td>
            {empty name="$row.marry_and_divorceimages"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>
            <input type="hidden" name="registration[marry_and_divorceimages]" value="no">
            {else /}
            {eq name="$row.marry_and_divorceimages" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[marry_and_divorceimages]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[marry_and_divorceimages]" value="no">
            {/eq}
            {/empty}
        </tr>

        <tr class="tr-click">
            <td colspan="2">征信报告</td>
            {empty name="$row.credit_reportimages"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>
            <input type="hidden" name="registration[credit_reportimages]" value="no">
            {else /}
            {eq name="$row.credit_reportimages" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[credit_reportimages]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[credit_reportimages]" value="no">
            {/eq}
            {/empty}
        </tr>

        <tr class="tr-click">
            <td colspan="2">半年银行流水</td>
            {empty name="$row.halfyear_bank_flowimages"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>
            <input type="hidden" name="registration[halfyear_bank_flowimages]" value="no">
            {else /}
            {eq name="$row.halfyear_bank_flowimages" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[halfyear_bank_flowimages]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[halfyear_bank_flowimages]" value="no">
            {/eq}
            {/empty}
        </tr>

        <tr class="tr-click">
            <td colspan="2">担保人</td>
            {empty name="$row.guarantee"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>
            <input type="hidden" name="registration[guarantee]" value="no">
            {else /}
            {eq name="$row.guarantee" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[guarantee]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[guarantee]" value="no">
            {/eq}
            {/empty}
        </tr>

        <tr class="tr-click">
            <td colspan="2">房产复印件</td>
            {empty name="$row.residence_permitimages"}
            {empty name="$images.housingimages"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[residence_permitimages]" value="no">
            {else /}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[residence_permitimages]" value="yes">
            {/empty}
            {else /}
            {eq name="$row.residence_permitimages" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[residence_permitimages]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[residence_permitimages]" value="no">
            {/eq}

            {/empty}
        </tr>

        <tr class="tr-click">
            <td colspan="2">驾驶证</td>
            {empty name="$row.driving_license"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>
            <input type="hidden" name="registration[driving_license]" value="no">
            {else /}
            {eq name="$row.driving_license" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[driving_license]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[driving_license]" value="no">
            {/eq}
            {/empty}
        </tr>

        <tr class="tr-click">
            <td colspan="2">居住证</td>
            {empty name="$row.residence_permit"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>
            <input type="hidden" name="registration[residence_permit]" value="no">
            {else /}
            {eq name="$row.residence_permit" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[residence_permit]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[residence_permit]" value="no">
            {/eq}
            {/empty}
        </tr>

        <tr class="tr-click">
            <td colspan="2">租房合同</td>
            {empty name="$row.renting_contract"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>
            <input type="hidden" name="registration[renting_contract]" value="no">
            {else /}
            {eq name="$row.renting_contract" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[renting_contract]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[renting_contract]" value="no">
            {/eq}
            {/empty}
        </tr>

        <tr class="tr-click">
            <td colspan="2">公司合同</td>
            {empty name="$row.company_contractimages"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>
            <input type="hidden" name="registration[company_contractimages]" value="no">
            {else /}
            {eq name="$row.company_contractimages" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[company_contractimages]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[company_contractimages]" value="no">
            {/eq}
            {/empty}
        </tr>

        <tr class="tr-click">
            <td colspan="2">提车单</td>
            {empty name="$row.lift_listimages"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>
            <input type="hidden" name="registration[lift_listimages]" value="no">
            {else /}
            {eq name="$row.lift_listimages" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[lift_listimages]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[lift_listimages]" value="no">
            {/eq}
            {/empty}
        </tr>
        <tr class="tr-click">
            <td colspan="2">定金协议</td>
            {empty name="$row.deposit"}
            {empty name="$images.deposit_contractimages"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[deposit]" value="no">
            {else /}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[deposit]" value="yes">
            {/empty}
            {else /}
            {eq name="$row.deposit" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[deposit]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[deposit]" value="no">
            {/eq}
            {/empty}
        </tr>

        <tr class="tr-click">
            <td colspan="2">道路管理条例告知书</td>
            {empty name="$row.truth_management_protocolimages"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>
            <input type="hidden" name="registration[truth_management_protocolimages]" value="no">
            {else /}
            {eq name="$row.truth_management_protocolimages" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[truth_management_protocolimages]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[truth_management_protocolimages]" value="no">
            {/eq}
            {/empty}
        </tr>

        <tr class="tr-click">
            <td colspan="2">保密协议</td>
            {empty name="$row.confidentiality_agreementimages"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>
            <input type="hidden" name="registration[confidentiality_agreementimages]" value="no">
            {else /}
            {eq name="$row.confidentiality_agreementimages" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[confidentiality_agreementimages]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[confidentiality_agreementimages]" value="no">
            {/eq}
            {/empty}
        </tr>

        <tr class="tr-click">
            <td colspan="2">客户告知书</td>
            {empty name="$row.supplementary_contract_agreementimages"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>
            <input type="hidden" name="registration[supplementary_contract_agreementimages]" value="no">
            {else /}
            {eq name="$row.supplementary_contract_agreementimages" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[supplementary_contract_agreementimages]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[supplementary_contract_agreementimages]" value="no">
            {/eq}
            {/empty}
        </tr>

        <tr class="tr-click">
            <td colspan="2">情况说明</td>
            {empty name="$row.explain_situation"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>
            <input type="hidden" name="registration[explain_situation]" value="no">
            {else /}
            {eq name="$row.explain_situation" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[explain_situation]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[explain_situation]" value="no">
            {/eq}
            {/empty}
        </tr>

        <tr class="tr-click">
            <td colspan="2">银行卡</td>
            {empty name="$row.tianfu_bank_cardimages"}
            {empty name="$images.bank_cardimages"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>
            <input type="hidden" name="registration[tianfu_bank_cardimages]" value="no">
            {else /}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>
            <input type="hidden" name="registration[tianfu_bank_cardimages]" value="yes">
            {/empty}
            {else /}
            {eq name="$row.tianfu_bank_cardimages" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>
            <input type="hidden" name="registration[tianfu_bank_cardimages]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>
            <input type="hidden" name="registration[tianfu_bank_cardimages]" value="no">
            {/eq}
            {/empty}
        </tr>

        <tr class="tr-click">
            <td colspan="2">无犯罪承诺书</td>
            {empty name="$row.crime_promise"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>
            <input type="hidden" name="registration[crime_promise]" value="no">
            {else /}
            {eq name="$row.crime_promise" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[crime_promise]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[crime_promise]" value="no">
            {/eq}
            {/empty}
        </tr>

        <tr class="tr-click">
            <td colspan="2">个人购车/租车</td>
            {empty name="$row.buy_rent"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>
            <input type="hidden" name="registration[buy_rent]" value="no">
            {else /}
            {eq name="$row.buy_rent" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[buy_rent]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[buy_rent]" value="no">
            {/eq}
            {/empty}
        </tr>

        <tr class="tr-click">
            <td colspan="2">个人客户信息查询和使用授权书</td>
            {empty name="$row.customer_query"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>
            <input type="hidden" name="registration[customer_query]" value="no">
            {else /}
            {eq name="$row.customer_query" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[customer_query]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[customer_query]" value="no">
            {/eq}
            {/empty}
        </tr>

        <tr class="tr-click">
            <td colspan="2">沣邦租赁个人融资信息</td>
            {empty name="$row.fengbang_rent"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>
            <input type="hidden" name="registration[fengbang_rent]" value="no">
            {else /}
            {eq name="$row.fengbang_rent" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[fengbang_rent]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[fengbang_rent]" value="no">
            {/eq}
            {/empty}
        </tr>


        <tr class="tr-click">
            <td colspan="2">车辆转让协议</td>
            {empty name="$row.transfer_agreement"}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>
            <input type="hidden" name="registration[transfer_agreement]" value="no">
            {else /}
            {eq name="$row.transfer_agreement" value="yes"}
            <td class="td2"><i class="fa fa-check text-success fa-lg"></i></td>

            <input type="hidden" name="registration[transfer_agreement]" value="yes">
            {else /}
            <td class="td2"><i class="fa fa-times text-danger fa-lg"></i></td>

            <input type="hidden" name="registration[transfer_agreement]" value="no">
            {/eq}
            {/empty}
        </tr>

        </tbody>
    </table>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
<script>
    $(function () {

        var trC = $('.click-table').find('.tr-click').each(function () {
            $(this).on('click', function () {
                var attrTr = $(this).find('.td2 i');
                var hidden = $(this).find("input[type=hidden]");

                if (attrTr.hasClass('fa-check')) {
                    attrTr.removeClass('fa-check text-success').addClass('fa-times text-danger')
                    hidden.val("no");
                }
                else {
                    attrTr.removeClass('fa-times text-danger').addClass('fa-check text-success')
                    hidden.val("yes");
                }

            })
        })
    })
</script>
