<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Models_id')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-models_id" data-rule="required" data-source="models/index" class="form-control selectpage" name="row[models_id]" type="text" value="">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Sales_order_id')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-sales_order_id" data-rule="required" data-source="sales/order/index" class="form-control selectpage" name="row[sales_order_id]" type="text" value="">-->
        <!--</div>-->
    <!--</div>-->

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('销售车型/方案')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select id="c-models_id" data-rule="required" class="form-control selectpicker" name="row[models_id]">
                <option value=" " style='display: none'>未选中任何项</option>
                {volist name="car_models" id="vo"}
                <option disabled>{$vo.name}</option>
                {volist name="vo.models" id="model_vo"}
                <option value="{$model_vo.models_id}">{$model_vo.models_name}</option>
                {/volist}
                {/volist}

            </select>

        </div>
    </div>

    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Carnumber')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-carnumber" class="form-control" name="row[carnumber]" type="number">
        </div>
    </div> -->
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Reservecar')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-reservecar" class="form-control" name="row[reservecar]" type="number">
        </div>
    </div> -->


    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Carprocess')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-carprocess" class="form-control selectpicker" name="row[carprocess]">
                {foreach name="carprocessList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.carprocess"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
            <div class="checkbox">

                <label for="row[carprocess]-{$key}"><input id="row[carprocess]-{$key}" name="row[carprocess]" type="checkbox" value="1"></label>

            </div>

        </div>
    </div> -->

    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Handlingdata')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->

            <!--<div class="checkbox">-->
                <!--{foreach name="handlingdataList" item="vo"}-->
                <!--<label for="row[handlingdata][]-{$key}"><input id="row[handlingdata][]-{$key}" name="row[handlingdata][]" type="checkbox" value="{$key}" {in name="key" value="$row.handlingdata"}checked{/in} /> {$vo}</label>-->
                <!--{/foreach}-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pledge')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-pledge" class="form-control selectpicker" name="row[pledge]">
                {foreach name="pledgeList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.pledge"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
            <div class="radio">
                {foreach name="pledgeList" item="vo"}
                <label for="row[pledge]-{$key}"><input id="row[pledge]-{$key}" name="row[pledge]" type="radio"
                                                       value="{$key}" {in name="key" value="1" }checked{/in} />
                    {$vo}</label>
                {/foreach}
            </div>

            <div class="checkbox">

                <label for="row[pledge]-{$key}"><input id="row[pledge]-{$key}" name="row[pledge]" type="checkbox" value="1"></label>

            </div>


        </div>
    </div> -->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Carprocess')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
                        <!---->
            <!--<select  id="c-carprocess" class="form-control selectpicker" name="row[carprocess]">-->
                <!--{foreach name="carprocessList" item="vo"}-->
                    <!--<option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>-->
                <!--{/foreach}-->
            <!--</select>-->

        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Pledge')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
                        <!---->
            <!--<select  id="c-pledge" class="form-control selectpicker" name="row[pledge]">-->
                <!--{foreach name="pledgeList" item="vo"}-->
                    <!--<option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>-->
                <!--{/foreach}-->
            <!--</select>-->

        <!--</div>-->
    <!--</div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Frame_number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-frame_number" data-rule="required" class="form-control" name="row[frame_number]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Engine_number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-engine_number" data-rule="required" class="form-control" name="row[engine_number]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Household')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-household" data-rule="required" class="form-control" name="row[household]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('4s_shop')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-4s_shop" data-rule="required" class="form-control" name="row[4s_shop]" type="text">
        </div>
    </div>
   <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('开票金额(元)')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8 col-md-3">-->
            <!--<input id="c-open_fare" data-rule="required;" class="form-control" name="row[open_fare]" type="number" >-->
        <!--</div>-->
    <!--</div>-->
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Presentationcondition')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-presentationcondition" placeholder="{:__('选填')}" class="form-control " rows="5" name="row[presentationcondition]" cols="50"></textarea>
        </div>
    </div> -->

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Note')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-note" class="form-control" placeholder="{:__('选填')}" name="row[note]" type="text">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
