<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <!--<div class="form-group">-->
    <!--<label class="control-label col-xs-12 col-sm-2">{:__('Models_id')}:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!--<input id="c-models_id" data-rule="required" data-source="planmanagement/models/index" class="form-control selectpage" name="row[models_id]" type="text" value="{$row.models_id}">-->
    <!--</div>-->
    <!--</div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('销售车型/方案')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select id="c-models_id" data-rule="required" class="form-control selectpicker" name="row[models_id]">
                <option value=" " style='display: none'>未选中任何项</option>
                {volist name="car_models" id="vo"}
                <option disabled>{$vo.name}</option>
                {volist name="vo.models" id="model_vo"}

                {if condition="$model_vo.models_id eq $validate_models_id"}
                <option value="{$model_vo.models_id}" selected>{$model_vo.models_name}</option>
                {else/}
                <option value="{$model_vo.models_id}">{$model_vo.models_name}</option>
                {/if}

                {/volist}
                <!--<option value="" selected></option>-->
                {/volist}

            </select>

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Frame_number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-frame_number" data-rule="required" class="form-control" name="row[frame_number]" type="text" value="{$row.frame_number}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Engine_number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-engine_number" data-rule="required" class="form-control" name="row[engine_number]" type="text" value="{$row.engine_number}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Household')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-household" data-rule="required" class="form-control" name="row[household]" type="text" value="{$row.household}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('4s_shop')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-4s_shop" data-rule="required" class="form-control" name="row[4s_shop]" type="text" value="{$row.4s_shop}">
        </div>
    </div>
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('开票金额(元)')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8 col-md-3">-->
            <!--<input id="c-open_fare" data-rule="required;" class="form-control" name="row[open_fare]" type="number" value="{$row.open_fare}">-->
        <!--</div>-->
    <!--</div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Note')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-note" class="form-control" name="row[note]" type="text" value="{$row.note}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
