<style type="text/css">
    .sm-st {
        background: #fff;
        padding: 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 20px;
        -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
    }

    .sm-st-icon {
        width: 60px;
        height: 60px;
        display: inline-block;
        line-height: 60px;
        text-align: center;
        font-size: 30px;
        background: #eee;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        float: left;
        margin-right: 10px;
        color: #fff;
    }

    .sm-st-info {
        font-size: 12px;
        padding-top: 2px;
    }

    .sm-st-info span {
        /*display: inline-block;*/
        font-size: 24px;
        font-weight: 600;
    }

    .orange {
        background: #fa8564 !important;
    }

    .tar {
        background: #45cf95 !important;
    }

    .sm-st .green {
        background: #86ba41 !important;
    }

    .pink {
        background: #AC75F0 !important;
    }

    .yellow-b {
        background: #fdd752 !important;
    }

    .stat-elem {

        background-color: #fff;
        padding: 18px;
        border-radius: 40px;

    }

    .stat-info {
        text-align: center;
        background-color: #fff;
        border-radius: 5px;
        margin-top: -5px;
        padding: 8px;
        -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        font-style: italic;
    }

    .stat-icon {
        text-align: center;
        margin-bottom: 5px;
    }

    .st-red {
        background-color: #F05050;
    }

    .st-green {
        background-color: #27C24C;
    }

    .st-violet {
        background-color: #7266ba;
    }

    .st-blue {
        background-color: #23b7e5;
    }

    .stats .stat-icon {
        color: #28bb9c;
        display: inline-block;
        font-size: 26px;
        text-align: center;
        vertical-align: middle;
        width: 50px;
        float: left;
    }

    .stat {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        margin-right: 10px;
    }

    .stat .value {
        font-size: 20px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
    }

    .stat .name {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .stat.lg .value {
        font-size: 26px;
        line-height: 28px;
    }

    .stat.lg .name {
        font-size: 16px;
    }

    .stat-col .progress {
        height: 2px;
    }

    .stat-col .progress-bar {
        line-height: 2px;
        height: 2px;
    }

    .item {
        padding: 30px 0;
    }

    .carStatus {
        border-right: 2px solid black;
        /* border-radius: 5px; */
    }

    .carStatus h3 {
        font-weight: 600;
    }
    .search-status{
        /*display: inline-block;*/
        cursor: pointer;

    }
    .search-status:hover{
        opacity: .5;
        color: #ff7742;
    }
    #reset{
        color: #0d95e8;
    }
    #reset:hover{
        font-weight: bold;
        text-decoration: underline;
    }
    .services ul>li{
        padding: 3px 0;
        cursor: pointer;

    }
    .services ul{
        margin:0;
    }
    .services ul>li:hover{
        /*opacity: .5;*/
        /*color: #ff7742;*/
    }
</style>

<div class="panel panel-default panel-intro">

    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-3 col-xs-6 {$admin.rule_message=='message10'?'col-md-4':'col-md-2'}">
                <div class="sm-st clearfix" >

                    <div class="row">
                        <div class="col-sm-12 col-xs-6 col-md-12 search-status text-center" >

                            <embed src="{$config.upload.cdnurl}/jyzj.junyiqiche.com/svg/违章.svg" width="60" height="60" type="image/svg+xml"pluginspage="http://www.adobe.com/svg/viewer/install/" />

                            <div class="sm-st-info">
                                <span class="text-danger" id="peccancy" mark="peccancy">{$statistics_total_violation}</span>
                               <strong> {:__('车辆总违章数（台）')}</strong>
                                <p style="margin:0"> 累计缴款金额 {$total_fine}元，累计扣分{$total_points}分</p>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-3 col-xs-6 {$admin.rule_message=='message10'?'col-md-4':'col-md-2'}">
                <div class="sm-st clearfix">
                    <div class="row">
                        <div class="col-sm-12 col-xs-6 col-md-12 text-center" >

                            <embed src="{$config.upload.cdnurl}/jyzj.junyiqiche.com/svg/检查.svg" width="60" height="60" type="image/svg+xml"pluginspage="http://www.adobe.com/svg/viewer/install/" />

                            <div class="sm-st-info "  >
                                <!--<span>-->
                                    <!--{$statistics.soon_year}-->
                                <!--</span>-->
                                <div style="display: inline-block" class="search-status"><i>即将过期</i><span class="text-warning" id="year_inspect" mark="year_inspect">{$statistics.soon_year}</span></span></div>&nbsp;&nbsp;&nbsp;&nbsp;
                                <div style="display: inline-block" class="search-status"><i>已过期</i><span class="text-danger" id="year_overdue" mark="year_overdue">&nbsp;{$statistics.year_overdue}</span></div>

                                <p style="margin:0">
                                    <strong>  年检车辆（台）</strong>

                                </p>

                            </div>

                        </div>
                        <!--<div class="col-sm-12 col-xs-6 col-md-4 search-status" >-->


                            <!--<div class="sm-st-info">-->
                                <!--<span class="text-danger" id="year_overdue">{$statistics.year_overdue}</span>-->
                                <!--{:__('年检已过期车辆（台）')}-->


                            <!--</div>-->

                        <!--</div>-->
                    </div>

                </div>
            </div>
            <div class="col-sm-3 col-xs-6 {$admin.rule_message=='message10'?'col-md-4':'col-md-2'}">
                <div class="sm-st clearfix">
                    <div class="row">
                        <div class="col-sm-12 col-xs-6 col-md-12 text-center" >
                            <embed src="{$config.upload.cdnurl}/jyzj.junyiqiche.com/svg/保险.svg" width="60" height="60" type="image/svg+xml"pluginspage="http://www.adobe.com/svg/viewer/install/" />

                            <div class="sm-st-info "  >
                                <!--<span>-->
                                <!--{$statistics.soon_year}-->
                                <!--</span>-->
                                <!--<div style="display: inline-block" class="search-status"></div>-->
                                <div style="display: inline-block" class="search-status"><i>即将过期</i>  <span class="text-warning" id="strong" style="display: inline-block" mark="strong">{$statistics.soon_traffic}</span></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <div style="display: inline-block" class="search-status">
                                    <i>已过期</i><span class="text-danger" id="strong_overdue" style="display: inline-block" mark="strong_overdue">&nbsp;{$statistics.traffic_overdue}</span>
                                </div>
                                <p style="margin:0">
                                    <strong>  保险车辆（台）</strong>

                                </p>

                            </div>



                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 col-md-6 {$admin.rule_message=='message10'? 'hide':''}">
                <div class="sm-st clearfix" style="height: 138px;overflow-y: auto;overflow-x: hidden">

                    <div class="row">
                        <div class="col-sm-12 col-xs-6 col-md-12 services" >
                            <div style="position: absolute;right: 28%">
                                <h4 style="display: inline-block;padding: 10px;box-sizing: border-box">车辆总数：{$total_vehicle}</h4>
                                <h4 style="display: inline-block;padding: 10px;box-sizing: border-box">已分配：{$assigned_customer_service}</h4>
                                <h4 style="display: inline-block;padding: 10px;box-sizing: border-box">未分配：{$unassigned_customer_service}</h4>
                            </div>

                            <div class="sm-st-info ">
                                <span class="text-warning" id=""></span>
                                {:__('客服维护')}

                            </div>
                            <ul>
                                {volist name="customer_service" id="vo"}
                                <li>

                                    <img src="{$config.upload.cdnurl}{$vo.avatar}" alt="" width="25">
                                    【客服】<span class="customer-service">{$vo.nickname}</span> <span>（{$vo.all_count_count}）</span>台 <span class="hide">{$vo.id}</span>
                                    <span class="search-status">
                                    &nbsp;|&nbsp;<u>违章：<span class="text-danger" mark="peccancy"><strong>{$vo.violation_count_count} </strong></span>台</u>
                                    </span>
                                    <span class="search-status">
                                    &nbsp;|&nbsp;<u>即将年检：<span class="text-danger" mark="year_inspect"><strong>{$vo.soon_year_count_count} </strong></span>台</u>
                                    </span>
                                    <span class="search-status">
                                    &nbsp;|&nbsp;<u>年检过期：<span class="text-danger" mark="year_overdue"><strong>{$vo.overdue_year_count_count} </strong></span>台</u>
                                    </span>
                                    <span class="search-status">
                                    &nbsp;|&nbsp;<u>即将续保：<span class="text-danger" mark="strong"><strong>{$vo.soon_insurance_count_count} </strong></span>台</u>
                                    </span>
                                    <span class="search-status">
                                    &nbsp;|&nbsp;<u>保险过期：<span class="text-danger" mark="strong_overdue"><strong>{$vo.overdue_insurance_count_count} </strong></span>台</u>
                                    </span>
                                </li>

                                {/volist}


                                <!--<li>-->

                                    <!--<img src="{$config.upload.cdnurl}{$admin.avatar}" alt="" width="25"> 【客服】{$admin.nickname} &nbsp;<span class="text-danger"><strong>30 台</strong></span>-->

                                <!--</li>-->
                                <!--<li>-->

                                    <!--<img src="{$config.upload.cdnurl}{$admin.avatar}" alt="" width="25"> 【客服】{$admin.nickname} &nbsp;<span class="text-danger"><strong>30 台</strong></span>-->

                                <!--</li>-->
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        {:build_heading(null,FALSE)}
        <ul class="nav nav-tabs" data-field="type">
            <li class="active"><a href="#t-all" data-value="" data-toggle="tab">{:__('All')}</a></li>
            <!-- {foreach name="typeList" item="vo"}
            <li><a href="#t-{$key}" data-value="{$key}" data-toggle="tab">{$vo}</a></li>
            {/foreach} -->
        </ul>
</div>

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <a href="javascript:;" class="btn btn-info btn-peccancy" title="{:__('查询')}"><i
                                class="fa fa-search"></i> {:__('批量查询违章')}</a>
                        <a href="javascript:;" class="btn btn-info btn-violation" title="{:__('公众号可以推送违章的客户信息展示')}"><i
                            class="fa fa-send"></i> {:__('公众号可以推送违章的客户信息展示')}</a>

                        <a href="javascript:;" class="btn btn-danger btn-export " title="{:__('导出客户信息')}" id="btn-export-file"><i class="fa fa-download"></i> {:__('导出客户信息')}</a>               
                        {if $rule_message eq 'message10'}
                        {else /}
                        <a class="btn btn-info btn-disabled disabled btn-batch" href="javascript:;" ><i class="fa fa-share"></i> 批量分配客服</a>
                        {/if}
                        <a href="javascript:;" class="btn btn-default btn-search-result hide" ><i
                                class="fa fa-search"></i> {:__('已筛选条件：')} <span class="search-info" style="padding:0  5px;font-weight: bold;color: red">kjhkjh</span><span id="reset">重置</span></a>
                    </div>

                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-edit="{:$auth->check('vehicle/vehiclemanagement/edit')}" 
                           data-operate-del="{:$auth->check('vehicle/vehiclemanagement/del')}" 
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
