
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        <div class="panel-lead"><em>月供管理中心</em></div>

            <ol>
                <p class="text-danger"><strong>新车批量导入月供须知：</strong></p>
                <li>
                    <u>导入月供excel时如无模板请下载导入模板</u>
                </li>
                <p></p>
                <li>
                    <u> 导入数据时表格里的“欠款月份”务必填写年月日，格式如：2018.08.08</u>
                </li>
                <p></p>
                <li>
                    <u> 导入数据时表格里的“状态”列的数据需变换一下</u>，如  <span class="text-success">成功</span>  请改为 success  ，<span class="text-danger"> 失败</span> 改为 failure
                </li>
                <p></p>
                <li>
                    <u> 导入表格数据时里面不能有特殊字符、换行、空格等</u>
                </li>

            </ol>


        <ul class="nav nav-tabs" >
            <li class="active text-center"><a href="#newcar_monthly" data-toggle="tab">扣款失败客户&nbsp;<span class="pull-right-container"><small class="badge pull-right bg-red" id="newcar_monthly_badge"> {$did_total}</small></span></a></li>
            <!--<li><a href="#secondhandcar_monthly" data-toggle="tab" class="text-center" > 二手车月供 &nbsp;<span class="pull-right-container"><small class="badge pull-right bg-red" id="badge_rental_audit">{</small></span></a></li>-->
            <li class=""><a href="#hasbeen_sent" data-toggle="tab"  class="text-center" >已发送&nbsp;<span class="pull-right-container"><small class="badge pull-right bg-black" id="hasbeen_sent_badge"> {$has_total}</small></span></a></li>
            <li class=""><a href="#deductions_succ" data-toggle="tab"  class="text-center" >扣款成功客户&nbsp;<span class="pull-right-container"><small class="badge pull-right bg-green" id="deductions_succ_badge"> {$dedu_total}</small></span></a></li>

        </ul>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">


            <!--新车月供 扣款失败客户-->

            <div class="tab-pane fade active in" id="newcar_monthly">
                <div id="toolbar1" class="toolbar" >
                    <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                    <a href="javascript:;" class="btn btn-success btn-add " title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('Add')}</a>
                    <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled " title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a>

                    <a href="monthlytabs/downloadExcelTemplate" class="btn btn-embossed btn-primary btn-download" title="{:__('下载导入模板')}">
                        <i class="fa fa-download"></i> {:__('下载导入模板')}</a>

                    <a href="javascript:;" class="btn btn-danger btn-import " title="{:__('Import')}" id="btn-import-file" data-url="ajax/upload" data-mimetype="csv,xls,xlsx" data-multiple="false"><i class="fa fa-upload"></i> {:__('批量导入')}</a>
                    <a href="javascript:;" class="btn btn-info btn-sed-risk  " title="{:__('批量发送给风控')}" ><i class="fa fa-share"></i> {:__('批量发送给风控')}</a>

                    <!--<a href="javascript:;" class="btn btn-info btn-refresh" title="{:__('批量导入')}" ><i class="fa fa-refresh"></i> </a>-->
                </div>
                <table id="newcarMonthly" class="table table-striped table-bordered table-hover table-nowrap"
                        width="100%">
                </table>
        </div>
            <!--已发送-->
        <div class="tab-pane fade " id="hasbeen_sent">
            <div id="toolbar2" class="toolbar" >
                <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
            </div>
            <table id="hasBeenSent" class="table table-striped table-bordered table-hover table-nowrap"  width="100%">
            </table>

        </div>
            <!--扣款成功-->
        <div class="tab-pane fade " id="deductions_succ">
            <div id="toolbar3" class="toolbar" >

                <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled " title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a>

            </div>
            <table id="deductionsSucc" class="table table-striped table-bordered table-hover table-nowrap"  width="100%">
            </table>

        </div>
    </div>
</div>
