<h3>
    <center>
        <span style="float: left;font-size: medium"><strong>{:__('订单编号')}：</strong> {$row.order_no|default="<span class='text-info'>无</span>"}</span>
        <h2><span style="margin-left: -20%">基本资料</span></h2> <span
            style="float: right;margin-top: -35px;font-size: medium"><strong>{:__('提车日期')}：</strong> {empty name="$row.delivery_datetime"} <span class="text-info">暂无</span>{else /}{$row.delivery_datetime|date="Y-m-d",###}{/empty}</span>
        <span style="float: right;margin-top: -35px;margin-right: 15%;font-size: medium"><strong>{:__('订车日期')}：</strong> {empty name="$row.createtime"} <span class="text-info">暂无</span>{else /}{$row.createtime|date="Y-m-d",###}{/empty}</span>
    </center>
</h3>
<br>
<div class="container-fulid" style="border: 1px solid #ddd">

    <!--<br>-->
    <!--<hr>-->


    <div class="form-group" style="margin-top: 1%">
        <div class="col-xs-12 col-sm-8 col-md-4">


        </div>

        <div class="col-xs-12 col-sm-8 col-md-4">
            <h3 style="margin-left: 25%;margin-top: 13px" class="text-info">客户登记</h3>

        </div>
    </div>
    <br>
    <br>
    <br>

    <hr>
    <!--<br>-->
    <div class="form-group">
        <div class="col-xs-12 col-sm-8 col-md-3"></div>
        <div class="col-xs-12 col-sm-8 col-md-6">
            <strong>{:__('销售车型/方案')}：</strong> {$row.plan_name|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('销售员')}：</strong>{$row.sales_name|default="<span class='text-info'>暂无</span>"}
        </div>
    </div>
    <br>
    <hr>
    <div class="form-group">


        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('姓名')}：</strong> {$row.username|default="<span class='text-info'>暂无</span>"} {eq name="$row.genderdata" value="male"} <span
                class="fa fa-male text-info"></span>{else /} <span class="fa fa-female"
                                                                   style="color:palevioletred"></span>{/eq}
        </div>

        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('联系电话')}：</strong> {$row.phone|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('身份证号')}：</strong> {$row.id_card|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('金融平台')}：</strong> {empty name="$row.financial_name"}<span class='text-info'>暂无</span>{else /}{$row.financial_name}{/empty}
        </div>

    </div>
    <br>
    <hr>
    <div class="form-group">


        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('档案编码')}：</strong> {$row.archival_coding|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-2">
            <strong>{:__('合同总价(元)')}：</strong> {empty name="$row.contract_total"} <span class="text-info">暂无</span>{else
            /}{$row.contract_total|default="<span class='text-info'>暂无</span>"}{/empty}
        </div>

        <div class="col-xs-12 col-sm-8 col-md-2">
            <strong>{:__('实收订车金额(元)')}：</strong>{$row.amount_collected|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-2">
            <strong>{:__('装饰')}：</strong> {empty name="$row.decorate"} <span class="text-info">暂无</span>{else
            /}{$row.decorate|default="<span class='text-info'>无</span>"}{/empty}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-2">
            <strong>{:__('抵押人')}：</strong> {empty name="$row.mortgage_people"} <span class="text-info">暂无</span>{else
            /}{$row.mortgage_people|default="<span class='text-info'>无</span>"}{/empty}
        </div>
    </div>
    <br>
    <hr>


    <div class="form-group">

        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('车牌号')}：</strong>{$row.licensenumber|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('发动机号')}：</strong> {$row.engine_number|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('车架号')}：</strong> {$row.frame_number|default="<span class='text-info'>暂无</span>"}
        </div>

        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('所属公司')}：</strong> {$row.household|default="<span class='text-info'>暂无</span>"}
        </div>


    </div>
    <br>
    <hr>

    <div class="form-group">


        <div class="col-xs-12 col-sm-8 col-md-4">


        </div>

        <div class="col-xs-12 col-sm-8 col-md-4">
            <h3 style="margin-left: 25%;margin-top: 13px" class="text-info">日期信息</h3>

        </div>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <div class="form-group">

        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('上次年检日期')}：</strong>{$row.yearly_inspection|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('下次年检日期')}：</strong>{$row.next_inspection|default="<span class='text-info'>暂无</span>"}
        </div>

        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('过户日期')}：</strong> {empty name="$row.transferdate"} <span class="text-info">未过户</span>{else
            /}{$row.transferdate|default="<span class='text-info'>暂无</span>"}{/empty}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('上户日期')}：</strong> {$row.hostdate|default="<span class='text-info'>暂无</span>"}
        </div>




    </div>
    <br>
    <hr>

    <div class="form-group">


        <div class="col-xs-12 col-sm-8 col-md-4">


        </div>

        <div class="col-xs-12 col-sm-8 col-md-4">
            <h3 style="margin-left: 25%;margin-top: 13px" class="text-info">购车发票登记表</h3>

        </div>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <div class="form-group">

        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('开票日期')}：</strong>{$row.ticketdate|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('供货商')}：</strong>{$row.supplier|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('含税金额(元)')}：</strong>{$row.tax_amount|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('不含税金额(元)')}：</strong>{$row.no_tax_amount|default="<span class='text-info'>暂无</span>"}
        </div>
    </div>
    <br>
    <hr>
    <div class="form-group">


        <div class="col-xs-12 col-sm-8 col-md-4">


        </div>

        <div class="col-xs-12 col-sm-8 col-md-4">
            <h3 style="margin-left: 25%;margin-top: 13px" class="text-info">购置税及上户登记表</h3>

        </div>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <div class="form-group">

        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('缴税日期')}：</strong>{$row.pay_taxesdate|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('购置税费(元)')}：</strong>{$row.tax|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('上户费(元)')}：</strong>{$row.house_fee|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('路桥费(元)')}：</strong>{$row.luqiao_fee|default="<span class='text-info'>暂无</span>"}
        </div>

    </div>
    <br>
    <hr>
    <div class="form-group">


        <div class="col-xs-12 col-sm-8 col-md-4">


        </div>

        <div class="col-xs-12 col-sm-8 col-md-4">
            <h3 style="margin-left: 25%;margin-top: 13px" class="text-info">保险丶车船税丶路桥费</h3>

        </div>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <div class="form-group">
        <div class="col-xs-12 col-sm-8 col-md-3">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            <strong>{:__('购买日期')}：</strong>{$row.insurance_buydate|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            <strong>{:__('车船税金额(元)')}：</strong>{$row.car_boat_tax|default="<span class='text-info'>暂无</span>"}
        </div>


    </div>
    <br>
    <hr>
    <div class="form-group">

        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('交强险保单号')}：</strong>{$row.insurance_policy|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('交强险金额(元)')}：</strong>{$row.insurance|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('商业险保单号')}：</strong>{$row.commercial_insurance_policy|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('商业险金额(元)')}：</strong>{$row.business_risks|default="<span class='text-info'>暂无</span>"}
        </div>
    </div>
    <br>
    <hr>
    <div class="form-group">


        <div class="col-xs-12 col-sm-8 col-md-4">


        </div>

        <div class="col-xs-12 col-sm-8 col-md-4">
            <h3 style="margin-left: 25%;margin-top: 13px" class="text-info">客户相关信息</h3>

        </div>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <div class="form-group">
        <div class="col-xs-12 col-sm-8 col-md-3">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('客户来源')}：</strong> {eq name="$row.customer_source" value="straight"}直客{else/}转介绍{/eq}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-6">
            <strong>{:__('地址')}：</strong>{$row.city|default="<span class='text-info'>无</span>"}/{$row.detailed_address|default="<span class='text-info'>无</span>"}
        </div>

    </div>
    <br>
    <hr>

    <div class="form-group">

        <div class="col-xs-12 col-sm-8 col-md-4">
            <strong>{:__('介绍人姓名')}：</strong> {empty name="$row.turn_to_introduce_name"} <span class="text-info">暂无</span>{else
            /}{$row.turn_to_introduce_name|default="<span class='text-info'>无</span>"}{/empty}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            <strong>{:__('介绍人电话')}：</strong>{empty name="$row.turn_to_introduce_phone"} <span class="text-info">暂无</span>{else
            /}{$row.turn_to_introduce_phone|default="<span class='text-info'>无</span>"}{/empty}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            <strong>{:__('介绍人身份证')}：</strong>{empty name="$row.turn_to_introduce_card"} <span class="text-info">暂无</span>{else
            /}{$row.turn_to_introduce_card|default="<span class='text-info'>无</span>"}{/empty}
        </div>
    </div>
    <br>
    <hr>
    <div class="form-group">


        <div class="col-xs-12 col-sm-8 col-md-4">


        </div>

        <div class="col-xs-12 col-sm-8 col-md-4">
            <h3 style="margin-left: 25%;margin-top: 5px" class="text-info">个人相关图片</h3>

        </div>
    </div>
    <br>
    <br>

    <br>
    <div class="form-group change-image">
        <div class="col-xs-12 col-sm-8 col-md-4">
            {empty name="$id_cardimages_arr"}
            <p style="margin-top: 8%"><strong>{:__('身份证正反面(多图)')}：</strong><span class="text-info">暂无</span></p>

            {else /}
            <strong>{:__('身份证正反面(多图)')}：</strong>
            {foreach $id_cardimages_arr as $k => $v}
            <img src="{$v}" alt="" style="width:80px;height:80px;">
            {/foreach}
            {/empty}

        </div>

        <div class="col-xs-12 col-sm-8 col-md-4">
            {empty name="$bank_cardimages_arr"}
            <p style="margin-top: 8%"><strong>{:__('银行卡照(多图)')}：</strong><span class="text-info">暂无</span></p>
            {else /}
            <strong>{:__('银行卡照(多图)')}：</strong>
            {foreach $bank_cardimages_arr as $k => $v}
            <img src="{$v}" alt="" style="width:80px;height:80px;">
            {/foreach}
            {/empty}

        </div>

        <div class="col-xs-12 col-sm-8 col-md-4">
            {empty name="$drivers_licenseimages_arr"}
            <p style="margin-top: 8%"><strong>{:__('驾照正副页(多图)')}：</strong><span class="text-info">暂无</span></p>

            {else /}
            <strong>{:__('驾照正副页(多图)')}：</strong>
            {foreach $drivers_licenseimages_arr as $k => $v}
            <img src="{$v}" alt="" style="width:80px;height:80px;">
            {/foreach}
            {/empty}

        </div>



    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="form-group">


        <div class="col-xs-12 col-sm-8 col-md-4">


        </div>

        <div class="col-xs-12 col-sm-8 col-md-4">
            <h3 style="margin-left: 25%;margin-top: 5px" class="text-info">车辆相关图片</h3>

        </div>
    </div>
    <br>
    <br>

    <br>
    <div class="form-group change-image">
        <div class="col-xs-12 col-sm-8 col-md-4">
            {empty name="$application_formimages_arr"}
            <p style="margin-top: 8%"><strong>{:__('申请表(多图)')}：</strong><span class="text-info">暂无</span></p>

            {else /}
            <strong>{:__('申请表(多图)')}：</strong>
            {foreach $application_formimages_arr as $k => $v}
            <img src="{$v}" alt="" style="width:80px;height:80px;">
            {/foreach}
            {/empty}

        </div>
        <div class="col-xs-12 col-sm-8 col-md-6">
            {empty name="$new_car_marginimages_arr"}
            <p style="margin-top: 8%"><strong>{:__('车辆相关图片(多图)')}：</strong><span class="text-info">暂无</span></p>

            {else /}
            <strong>{:__('车辆相关图片(多图)')}：</strong>
            {foreach $new_car_marginimages_arr as $k => $v}
            <img src="{$v}" alt="" style="width:80px;height:80px;">
            {/foreach}
            {/empty}

        </div>
        <div class="col-xs-12 col-sm-8 col-md-2" style="line-height: 80px" id="clear-div">
            <strong>{:__('通话清单')}：</strong>
            {empty name="$new_car_marginimages_arr"}
          <span class="text-info">暂无</span>

            {else /}
            {foreach $call_listfiles_arr as $k => $v}
            <a href="{$v}" target="_blank">
                <button type="button" class="btn btn-info">查看通话清单</button>
            </a> {/foreach}
            {/empty}
        </div>


    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="form-group">


        <div class="col-xs-12 col-sm-8 col-md-4">


        </div>

        <div class="col-xs-12 col-sm-8 col-md-4">
            <h3 style="margin-left: 25%;margin-top: 13px" class="text-info">备注信息</h3>

        </div>

    </div>
    <br>
    <br>
    <br>
    <hr>

    <div class="form-group">

        <div class="col-xs-12 col-sm-8 col-md-12">
            <strong>{:__('全款车资料备注')}：</strong>{empty name="$row.registry_remark"} <span class="text-info">暂无</span>{else /}{$row.registry_remark}{/empty}
        </div>


    </div>

    <br>
    <hr>
    <div class="form-group">

        <div class="col-xs-12 col-sm-8 col-md-12">
            <strong>{:__('全款车管理车辆信息备注')}：</strong> {empty name="$row.note"} <span class="text-info">暂无</span>{else /}{$row.note}{/empty}

        </div>


    </div>
    <br>
    <hr>
</div>
<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST"
      action="{:url('admin/Imagedownload/pack')}">

    <input type="hidden" id="hid" name="all">
    <input type="hidden" id="font" name="all_font">
    <input type="hidden" id="username" name="username" value="{$row.username}">
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-5"></label>

        <div class="col-xs-12 col-sm-5">
            <button class="btn btn-success btn-embossed disabled">{:__('下载图片')}</button>

        </div>
    </div>

</form>
<script>
    image_preview($("img"));

    var outside = $(".change-image").find("div:not('#clear-div')");

    var btn = $(".btn-embossed");

    outside.css({"cursor": "pointer"});

    outside.each(function () {


        if ($(this).find("span").length == 0) {
            $(this).on('click', function () {

                if($(this).find('img')){

                }

                if ($(this).find(".text-warning").length == 0) {
                    $(this).append("<span class='check-span' style='float: right;padding-top: 27px'><span class='text-warning' style='font-size: large'>已选中</span><i class=\"fa fa-check text-success fa-lg\"></i></span>");


                } else {
                    $(this).find(".check-span").remove();
                }

                var selects = outside.find(".check-span");


                if (selects.length == 0) {
                    btn.addClass("disabled");

                } else {
                    if (btn.hasClass("disabled")) {
                        btn.removeClass("disabled");
                    }

                }

                var all_val = [];
                var all_font = [];
                $(".change-image").find(".check-span").each(function () {
                    var count = 1;
                    $(this).prevAll("img").each(function () {
                        all_val.push($(this).attr("src"));

                        var fonts = $.trim($(this).prevAll("strong").html());

                        fonts = fonts.replace("：", "");

                        //判断如果文件名重复就加括号数字区分
                        if(all_font.indexOf(fonts)>-1){
                            fonts = fonts+"("+count+")";

                            count++;
                        }
                        all_font.push(fonts);

                    })


                })

                $("#hid").val(all_val);
                $("#font").val(all_font);


            })
        }


    })

    //判断如果是单图，直接在js下载图片
    $(".btn-embossed").on('click', function (event) {

        var selects = outside.find(".check-span");

        if (selects.length == 1) {

            var src = selects.prevAll("img");

            if (src.length == 1) {
                event.preventDefault();
                download(src.attr("src"));
            }else{
                layer.msg('加载中', {
                    icon: 16,
                    shade: 0.01,
                    time: 1000
                });
            }


        } else {
            layer.msg('加载中', {
                icon: 16,
                shade: 0.01,
                time: 1000
            });
        }

    });

    //浏览器单个下载图片
    function download(src) {
        var $a = document.createElement('a');
        $a.setAttribute("href", src);
        $a.setAttribute("download", "");


        var evObj = document.createEvent('MouseEvents');
        evObj.initMouseEvent('click', true, true, window, 0, 0, 0, 0, 0, true, true, true, true, 0, null);
        $a.dispatchEvent(evObj);
    };

</script>
