<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Archival_coding')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-archival_coding" data-rule="required" class="form-control form-control"
                   name="row[archival_coding]" type="text" value="{$row.archival_coding}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hostdate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hostdate" data-rule="required" class="form-control datetimepicker form-control"
                   data-date-format="YYYY-MM-DD" data-use-current="true" name="row[hostdate]" type="text"
                   value="{$row.hostdate}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('是否抵押')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select id="c-mortgage" data-rule="required" class="form-control selectpicker" name="mortgage" onchange="changeFun(this)">
                {empty name="$row.mortgage_people"}
                <option value="1">是</option>
                <option value="0" selected>否</option>
                {else /}
                <option value="1" selected>是</option>
                <option value="0">否</option>
                {/empty}


            </select>

        </div>
    </div>

    <div class="form-group" id="mortgage_people" style="display: none">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mortgage_people')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mortgage_people" class="form-control form-control"
                   name="row[mortgage_people]" type="text" value="{$row.mortgage_people}">
        </div>
    </div>
    <script>
        var mortgage = document.getElementById("c-mortgage");
        var people = document.getElementById("mortgage_people");
        if(mortgage.value==0){
            people.style.setProperty('display', 'none', 'important');
        }else{
            people.style.setProperty('display', 'block', 'important');

        }


        function changeFun(that) {
            var introduce = document.getElementById('mortgage_people');

            if (that.value == 0) {

                introduce.style.setProperty('display', 'none', 'important');


            } else {

                introduce.style.setProperty('display', 'block', 'important');
            }

        }
    </script>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ticketdate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ticketdate" data-rule="required" class="form-control datetimepicker form-control"
                   data-date-format="YYYY-MM-DD" data-use-current="true" name="row[ticketdate]" type="text"
                   value="{$row.ticketdate}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Supplier')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-supplier" data-rule="required" class="form-control form-control" name="row[supplier]"
                   type="text" value="{$row.supplier}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tax_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tax_amount" class="form-control form-control" step="0.01" name="row[tax_amount]" type="number"
                   value="{$row.tax_amount}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('No_tax_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-no_tax_amount" class="form-control form-control" step="0.01" name="row[no_tax_amount]"
                   type="number" value="{$row.no_tax_amount}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_taxesdate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_taxesdate" data-rule="required" class="form-control datetimepicker form-control"
                   data-date-format="YYYY-MM-DD" data-use-current="true" name="row[pay_taxesdate]" type="text"
                   value="{$row.pay_taxesdate}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('House_fee')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-house_fee" class="form-control form-control" step="0.01" name="row[house_fee]" type="number"
                   value="{$row.house_fee}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Luqiao_fee')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-luqiao_fee" class="form-control form-control" step="0.01" name="row[luqiao_fee]" type="number"
                   value="{$row.luqiao_fee}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('车船税金额(元)')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-car_boat_tax" data-rule="required" class="form-control form-control" name="row[car_boat_tax]"
                   type="number" value="{$row.car_boat_tax}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('购置税金额(元)')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-purchase_tax" data-rule="required" class="form-control form-control" name="order[purchase_tax]"
                   type="number" value="{$row.purchase_tax}">
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Insurance_buydate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-insurance_buydate" data-rule="required" class="form-control datetimepicker form-control"
                   data-date-format="YYYY-MM-DD" data-use-current="true" name="row[insurance_buydate]" type="text"
                   value="{$row.insurance_buydate}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Insurance_policy')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-insurance_policy" data-rule="required" class="form-control form-control"
                   name="row[insurance_policy]" type="number" value="{$row.insurance_policy}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('交强险金额(元)')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-insurance" data-rule="required" class="form-control form-control" name="order[insurance]"
                   type="number" value="{$row.insurance}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Commercial_insurance_policy')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-commercial_insurance_policy" data-rule="required" class="form-control form-control"
                   name="row[commercial_insurance_policy]" type="number" value="{$row.commercial_insurance_policy}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('商业险金额(元)')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-business_risks" data-rule="required" class="form-control form-control" name="order[business_risks]"
                   type="number" value="{$row.business_risks}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('是否过户')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select id="c-transfer" data-rule="required" class="form-control selectpicker" name="row[transfer]" onchange="changeFun2(this)">
                {empty name="$row.transfer"}
                <option value="1">是</option>
                <option value="0" selected>否</option>
                {else /}
                {eq name="$row.transfer" value="0"}
                <option value="1">是</option>
                <option value="0" selected>否</option>
                {else /}
                <option value="1" selected>是</option>
                <option value="0">否</option>
                {/eq}
                {/empty}


            </select>

        </div>
    </div>

    <div class="form-group" id="transferdate" style="display:none;">
        <label class="control-label col-xs-12 col-sm-2">{:__('Transferdate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-transferdate" class="form-control datetimepicker form-control" data-date-format="YYYY-MM-DD"
                   data-use-current="true" name="row[transferdate]" type="text" value="{$row.transferdate}">
        </div>
    </div>



    <script>
        var transfer = document.getElementById("c-transfer");
        var transferdate = document.getElementById("transferdate");
        if(transfer.value==0){
            transferdate.style.setProperty('display', 'none', 'important');
        }else{
            transferdate.style.setProperty('display', 'block', 'important');

        }


        function changeFun2(that) {
            var transferdate = document.getElementById('transferdate');

            if (that.value == 0) {

                transferdate.style.setProperty('display', 'none', 'important');


            } else {

                transferdate.style.setProperty('display', 'block', 'important');
            }

        }
    </script>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('上次年检日期')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-yearly_inspection" class="form-control datetimepicker form-control" data-date-format="YYYY-MM-DD"
                   data-use-current="true" data-rule="required" name="row[yearly_inspection]" type="text" value="{$row.yearly_inspection}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('下次年检日期')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-next_inspection" class="form-control datetimepicker form-control" data-date-format="YYYY-MM-DD"
                   data-use-current="true" data-rule="required" name="row[next_inspection]" type="text" value="{$row.next_inspection}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('合同总价(元)')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contract_total" class="form-control form-control" name="row[contract_total]"
                   type="number" value="{$row.contract_total}" placeholder="选填">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('备注')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-registry_remark" class="form-control editor" rows="5" name="row[registry_remark]" cols="50" placeholder="选填">{$row.registry_remark}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('车辆所有的扫描件(多图)')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-car_images" data-rule="required" class="form-control form-control" size="50" name="order[car_images]" type="text" value="{$row.car_images}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-car_images" class="btn btn-danger plupload" data-input-id="c-car_images" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-car_images"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-car_images" class="btn btn-primary fachoose" data-input-id="c-car_images" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-car_images"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-car_images"></ul>
        </div>
    </div>
    <input type="hidden" value="full" name="row[classification]">
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>

