<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <h2>
        <center>当前购车方式：以租代购（新车）</center>
    </h2>
    <br>
    <div class="form-group">

        <label class="control-label col-xs-12 col-sm-2">
            <strong> {:__('请仔细填写录入以下客户资料')}:</strong>
        </label>
    </div>
    <h3>
        <center>基本资料</center>
    </h3>
    <br>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('销售车型/方案')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select id="c-plan_acar_name" data-rule="required" class="form-control selectpicker"
                    name="row[plan_acar_name]">
                <option value=" " style='display: none'>未选中任何项</option>
                {volist name="newRes" id="vo"}

                <option value="{$vo['brand_logoimage']}" disabled>{$vo['brand_name']}</option>
                {volist name="vo.data" id="vo_s"}
                <option value="{$vo_s['id']}">{$vo_s['models_name']}</option>
                {/volist} {/volist}
            </select>

        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Username')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <input id="c-username" data-rule="required" class="form-control" name="row[username]" type="text">
        </div>


    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Id_card')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <input id="c-id_card" data-rule="required;IDcard" class="form-control" name="row[id_card]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <input id="c-phone" data-rule="required;mobile" class="form-control" name="row[phone]" type="text"
                   onkeyup="this.value=this.value.replace(/\D/g,'')"
                   onafterpaste="this.value=this.value.replace(/\D/g,'')">
        </div>


        <!-- <div class="col-xs-12 col-sm-8 col-md-3">

            <button class="btn btn-primary pull-right"> 点击获取通话清单</button>

        </div> -->

    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Genderdata')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {foreach name="genderdataList" item="vo"}
                <label for="row[genderdata]-{$key}">
                    <input id="row[genderdata]-{$key}" name="row[genderdata]" type="radio" value="{$key}" {in name="key"
                           value="male" }checked{/in}
                    /> {$vo}</label>
                {/foreach}
            </div>

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('City')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-2">
            <div class='control-relative'>
                <input id="c-city" data-rule="required" class="form-control" data-toggle="city-picker" name="row[city]"
                       type="text" value="">
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-2">
            <input id="c-detailed_address" data-rule="required" class="form-control" name="row[detailed_address]"
                   type="text" placeholder="详细地址">

        </div>

    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Emergency_contact_1')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <input id="c-emergency_contact_1" data-rule="required" class="form-control" name="row[emergency_contact_1]"
                   type="text" placeholder="格式如：李某某-18066668888-朋友">
        </div>
        <label class="control-label col-xs-12 col-sm-2">{:__('Emergency_contact_2')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <input id="c-emergency_contact_2" data-rule="required" class="form-control" name="row[emergency_contact_2]"
                   type="text" placeholder="格式如：王某某-18066668888-亲戚">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Family_members')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-family_members" data-rule="required" class="form-control" name="row[family_members]"
                   type="text" placeholder="格式如：张某某-18066668888-父亲">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Deposit_contractimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-deposit_contractimages" data-rule="required" class="form-control" size="50"
                       name="row[deposit_contractimages]" type="text">
                <div class="input-group-addon no-border no-padding">
                        <span>
                            <button type="button" id="plupload-deposit_contractimages" class="btn btn-danger plupload"
                                    data-input-id="c-deposit_contractimages"
                                    data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp"
                                    data-multiple="true" data-preview-id="p-deposit_contractimages">
                                <i class="fa fa-upload"></i> {:__('Upload')}</button>
                        </span>
                    <span>
                            <button type="button" id="fachoose-deposit_contractimages" class="btn btn-primary fachoose"
                                    data-input-id="c-deposit_contractimages"
                                    data-mimetype="image/*" data-multiple="true">
                                <i class="fa fa-list"></i> {:__('Choose')}</button>
                        </span>
                </div>
                <span class="msg-box n-right" for="c-deposit_contractimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-deposit_contractimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Deposit_receiptimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-deposit_receiptimages" data-rule="required" class="form-control" size="50"
                       name="row[deposit_receiptimages]" type="text">
                <div class="input-group-addon no-border no-padding">
                        <span>
                            <button type="button" id="plupload-deposit_receiptimages" class="btn btn-danger plupload"
                                    data-input-id="c-deposit_receiptimages"
                                    data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp"
                                    data-multiple="true" data-preview-id="p-deposit_receiptimages">
                                <i class="fa fa-upload"></i> {:__('Upload')}</button>
                        </span>
                    <span>
                            <button type="button" id="fachoose-deposit_receiptimages" class="btn btn-primary fachoose"
                                    data-input-id="c-deposit_receiptimages"
                                    data-mimetype="image/*" data-multiple="true">
                                <i class="fa fa-list"></i> {:__('Choose')}</button>
                        </span>
                </div>
                <span class="msg-box n-right" for="c-deposit_receiptimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-deposit_receiptimages"></ul>
        </div>
    </div>
    <h3>
        <center>客户来源</center>
    </h3>
    <br>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Customer_source')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select id="c-customer_source" data-rule="required" class="form-control selectpicker"
                    name="row[customer_source]" onchange="changeFun(this)">
                {foreach name="customerSourceList" item="vo"}
                <option value="{$key}" {in name="key" value="direct_the_guest" }selected{
                /in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <script type="text/javascript">

        function changeFun(that) {
            var introduce = document.getElementById('introduce-view');

            if (that.value == 'direct_the_guest') {

                introduce.style.setProperty('display', 'none', 'important');


            } else {

                introduce.style.setProperty('display', 'block', 'important');
            }

        }

    </script>
    <div id="introduce-view" style="display: none">


        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Turn_to_introduce_name')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-turn_to_introduce_name" class="form-control" name="row[turn_to_introduce_name]"
                       type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Turn_to_introduce_phone')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-turn_to_introduce_phone" data-rule="mobile" class="form-control"
                       name="row[turn_to_introduce_phone]" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Turn_to_introduce_card')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-turn_to_introduce_card" data-rule="IDcard" class="form-control"
                       name="row[turn_to_introduce_card]" type="text" placeholder="可后期再填写，不必填">
            </div>
        </div>
    </div>
    <h3>
        <center>审核资料上传（必填）</center>
    </h3>
    <br>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Id_cardimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-id_cardimages" data-rule="required" class="form-control" size="50"
                       name="row[id_cardimages]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span>
                        <button type="button" id="plupload-id_cardimages" class="btn btn-danger plupload"
                                data-input-id="c-id_cardimages"
                                data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp"
                                data-multiple="true" data-preview-id="p-id_cardimages">
                            <i class="fa fa-upload"></i> {:__('Upload')}</button>
                    </span>
                    <span>
                        <button type="button" id="fachoose-id_cardimages" class="btn btn-primary fachoose"
                                data-input-id="c-id_cardimages" data-mimetype="image/*"
                                data-multiple="true">
                            <i class="fa fa-list"></i> {:__('Choose')}</button>
                    </span>
                </div>
                <span class="msg-box n-right" for="c-id_cardimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-id_cardimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Drivers_licenseimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-drivers_licenseimages" data-rule="required" class="form-control" size="50"
                       name="row[drivers_licenseimages]"
                       type="text">
                <div class="input-group-addon no-border no-padding">
                    <span>
                        <button type="button" id="plupload-drivers_licenseimages" class="btn btn-danger plupload"
                                data-input-id="c-drivers_licenseimages"
                                data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true"
                                data-preview-id="p-drivers_licenseimages">
                            <i class="fa fa-upload"></i> {:__('Upload')}</button>
                    </span>
                    <span>
                        <button type="button" id="fachoose-drivers_licenseimages" class="btn btn-primary fachoose"
                                data-input-id="c-drivers_licenseimages"
                                data-mimetype="image/*" data-multiple="true">
                            <i class="fa fa-list"></i> {:__('Choose')}</button>
                    </span>
                </div>
                <span class="msg-box n-right" for="c-drivers_licenseimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-drivers_licenseimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Residence_bookletimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-residence_bookletimages" data-rule="required" class="form-control" size="50"
                       name="row[residence_bookletimages]"
                       type="text">
                <div class="input-group-addon no-border no-padding">
                    <span>
                        <button type="button" id="plupload-residence_bookletimages" class="btn btn-danger plupload"
                                data-input-id="c-residence_bookletimages"
                                data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true"
                                data-preview-id="p-residence_bookletimages">
                            <i class="fa fa-upload"></i> {:__('Upload')}</button>
                    </span>
                    <span>
                        <button type="button" id="fachoose-residence_bookletimages" class="btn btn-primary fachoose"
                                data-input-id="c-residence_bookletimages"
                                data-mimetype="image/*" data-multiple="true">
                            <i class="fa fa-list"></i> {:__('Choose')}</button>
                    </span>
                </div>
                <span class="msg-box n-right" for="c-residence_bookletimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-residence_bookletimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Housingimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-housingimages" data-rule="required" class="form-control" size="50"
                       name="row[housingimages]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span>
                        <button type="button" id="plupload-housingimages" class="btn btn-danger plupload"
                                data-input-id="c-housingimages"
                                data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp"
                                data-multiple="true" data-preview-id="p-housingimages">
                            <i class="fa fa-upload"></i> {:__('Upload')}</button>
                    </span>
                    <span>
                        <button type="button" id="fachoose-housingimages" class="btn btn-primary fachoose"
                                data-input-id="c-housingimages" data-mimetype="image/*"
                                data-multiple="true">
                            <i class="fa fa-list"></i> {:__('Choose')}</button>
                    </span>
                </div>
                <span class="msg-box n-right" for="c-housingimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-housingimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bank_cardimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-bank_cardimages" data-rule="required" class="form-control" size="50"
                       name="row[bank_cardimages]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span>
                        <button type="button" id="plupload-bank_cardimages" class="btn btn-danger plupload"
                                data-input-id="c-bank_cardimages"
                                data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp"
                                data-multiple="true" data-preview-id="p-bank_cardimages">
                            <i class="fa fa-upload"></i> {:__('Upload')}</button>
                    </span>
                    <span>
                        <button type="button" id="fachoose-bank_cardimages" class="btn btn-primary fachoose"
                                data-input-id="c-bank_cardimages" data-mimetype="image/*"
                                data-multiple="true">
                            <i class="fa fa-list"></i> {:__('Choose')}</button>
                    </span>
                </div>
                <span class="msg-box n-right" for="c-bank_cardimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-bank_cardimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Application_formimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-application_formimages" data-rule="required" class="form-control" size="50"
                       name="row[application_formimages]"
                       type="text">
                <div class="input-group-addon no-border no-padding">
                    <span>
                        <button type="button" id="plupload-application_formimages" class="btn btn-danger plupload"
                                data-input-id="c-application_formimages"
                                data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true"
                                data-preview-id="p-application_formimages">
                            <i class="fa fa-upload"></i> {:__('Upload')}</button>
                    </span>
                    <span>
                        <button type="button" id="fachoose-application_formimages" class="btn btn-primary fachoose"
                                data-input-id="c-application_formimages"
                                data-mimetype="image/*" data-multiple="true">
                            <i class="fa fa-list"></i> {:__('Choose')}</button>
                    </span>
                </div>
                <span class="msg-box n-right" for="c-application_formimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-application_formimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Call_listfiles')}:</label>
        <div class="col-xs-12 col-sm-8 col-md-6">
            <div class="input-group">
                <input id="c-call_listfiles" data-rule="required" class="form-control" size="50"
                       name="row[call_listfiles]" type="text" placeholder="请上传PDF或EXCEL格式！！！">
                <div class="input-group-addon no-border no-padding">
                    <span>
                        <button type="button" id="plupload-call_listfiles" class="btn btn-danger plupload"
                                data-input-id="c-call_listfiles" data-multiple="true">
                            <i class="fa fa-upload"></i> {:__('Upload')}</button>
                    </span>
                    &nbsp;&nbsp;&nbsp;
                    <span>

                        <button type="button" id="fachoose-call_listfiles" class="btn btn-info get_call_listfiles"
                                data-multiple="true">
                            <i class="fa fa-download"></i> {:__('点击这里一键获取通话清单')}</button>
                    </span>
                </div>
                <span class="msg-box n-right" for="c-call_listfiles"></span>
            </div>

        </div>
    </div>

    <h3>
        <center>审核资料上传（不必填）</center>
    </h3>
    <br>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Credit_reportimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-credit_reportimages" class="form-control" size="50" name="row[credit_reportimages]"
                       type="text">
                <div class="input-group-addon no-border no-padding">
                    <span>
                        <button type="button" id="plupload-credit_reportimages" class="btn btn-danger plupload"
                                data-input-id="c-credit_reportimages"
                                data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true"
                                data-preview-id="p-credit_reportimages">
                            <i class="fa fa-upload"></i> {:__('Upload')}</button>
                    </span>
                    <span>
                        <button type="button" id="fachoose-credit_reportimages" class="btn btn-primary fachoose"
                                data-input-id="c-credit_reportimages"
                                data-mimetype="image/*" data-multiple="true">
                            <i class="fa fa-list"></i> {:__('Choose')}</button>
                    </span>
                </div>
                <span class="msg-box n-right" for="c-credit_reportimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-credit_reportimages"></ul>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Guarantee_id_cardimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-guarantee_id_cardimages" class="form-control" size="50" name="row[guarantee_id_cardimages]"
                       type="text">
                <div class="input-group-addon no-border no-padding">
                    <span>
                        <button type="button" id="plupload-guarantee_id_cardimages" class="btn btn-danger plupload"
                                data-input-id="c-guarantee_id_cardimages"
                                data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true"
                                data-preview-id="p-guarantee_id_cardimages">
                            <i class="fa fa-upload"></i> {:__('Upload')}</button>
                    </span>
                    <span>
                        <button type="button" id="fachoose-guarantee_id_cardimages" class="btn btn-primary fachoose"
                                data-input-id="c-guarantee_id_cardimages"
                                data-mimetype="image/*" data-multiple="true">
                            <i class="fa fa-list"></i> {:__('Choose')}</button>
                    </span>
                </div>
                <span class="msg-box n-right" for="c-guarantee_id_cardimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-guarantee_id_cardimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Guarantee_agreementimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-guarantee_agreementimages" class="form-control" size="50"
                       name="row[guarantee_agreementimages]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span>
                        <button type="button" id="plupload-guarantee_agreementimages" class="btn btn-danger plupload"
                                data-input-id="c-guarantee_agreementimages"
                                data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true"
                                data-preview-id="p-guarantee_agreementimages">
                            <i class="fa fa-upload"></i> {:__('Upload')}</button>
                    </span>
                    <span>
                        <button type="button" id="fachoose-guarantee_agreementimages" class="btn btn-primary fachoose"
                                data-input-id="c-guarantee_agreementimages"
                                data-mimetype="image/*" data-multiple="true">
                            <i class="fa fa-list"></i> {:__('Choose')}</button>
                    </span>
                </div>
                <span class="msg-box n-right" for="c-guarantee_agreementimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-guarantee_agreementimages"></ul>
        </div>
    </div>
    <b style="color: #ddd">
        <center><i>--我是有底线的--</i></center>
    </b>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Review_the_data')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {foreach name="reviewTheDataList" item="vo"}
                <label for="row[review_the_data]-{$key}">
                    <input id="row[review_the_data]-{$key}" name="row[review_the_data]" type="radio" value="{$key}" {in name="key" value="not_through"
                        }checked{/in} /> {$vo}</label>
                {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Delivery_datetime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-delivery_datetime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true"
                name="row[delivery_datetime]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div> -->
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>