<style>
    .change {
        border: 2px solid red;
    }
    .imgBorder{
        width:80px;height:80px;border-radius: 5px;
    }
</style>

<h3>
    <center>
        <span style="float: left;font-size: medium"><strong>{:__('订单编号')}：</strong> {$row.order_no}</span>
        <h2><span style="margin-left: -20%">资料详情</span></h2> <span
            style="float: right;margin-top: -35px;font-size: medium"><strong>{:__('提车日期')}：</strong>  {empty name="$row.delivery_datetime"} <span class="text-info">暂无</span>{else /}{$row.delivery_datetime|date="Y-m-d",###}{/empty}</span>
        <span style="float: right;margin-top: -35px;margin-right: 15%;font-size: medium"><strong>{:__('订车日期')}：</strong>  {empty name="$row.createtime"} <span class="text-info">暂无</span>{else /}{$row.createtime|date="Y-m-d",###}{/empty}</span>
    </center>
</h3>
<div class="container-fulid" style="background-color: #ddd">
    <br>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-offset-3 col-md-6">
            <strong>{:__('销售车型/方案')}：</strong> {$row.plan_name}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('销售员')}：</strong> {$row.sales_name|default="<span class='text-info'>暂无</span>"}
        </div>
    </div>
    <br>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('姓名')}：</strong>
            {:__($row.username)}
            {eq name="$row.genderdata" value="male"}
            <span class="fa fa-male text-info"></span>
            {else /}
            <span class="fa fa-female" style="color:palevioletred"></span>
            {/eq}

        </div>

        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('联系电话')}：</strong> {$row.phone|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('身份证号')}：</strong> {$row.id_card|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('退租时间')}：</strong> {empty name="$row.car_backtime"}<span class='text-info'>暂无</span>{else /}{$row.car_backtime|date="Y-m-d",###}{/empty}
        </div>

    </div>
    <hr>
    <div class="row">

        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('实际押金（元）')}：</strong>{$row.cash_pledge|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('实际租金（元）')}：</strong> {$row.rental_price|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('实际租期（月）')}：</strong> {$row.tenancy_term|default="<span class='text-info'>暂无</span>"}
        </div>

        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('租车保证金（元）')}：</strong> {$row.bond|default="<span class='text-info'>暂无</span>"}
        </div>


    </div>
    <hr>
    <div class="row">

        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('车牌号')}：</strong>{$row.licenseplatenumber|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('发动机号')}：</strong> {$row.engine_no|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('车架号')}：</strong> {$row.vin|default="<span class='text-info'>暂无</span>"}
        </div>

        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('所属公司')}：</strong> {$row.companyaccount|default="<span class='text-info'>暂无</span>"}
        </div>


    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('公里数')}：</strong>{$row.kilometres|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('车辆颜色')}：</strong>{$row.carcolor|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('退车公里数(千米)')}：</strong>{empty name="$row.back_kilometre"} <span class="text-info">暂无</span>{else/}{$row.back_kilometre|default="无"}{/empty}

        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('车损（元）')}：</strong> {$row.car_loss|default="<span class='text-info'>暂无</span>"}
        </div>


    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-8  col-md-12 text-center">
            <h3 class="text-info">日期信息</h3>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('保险到期时间')}：</strong>{$row.expirydate|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('年审到期时间')}：</strong>{$row.annualverificationdate|default="<span class='text-info'>暂无</span>"}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
            <strong>{:__('实际退车日期')}：</strong> {$row.actual_backtime|default="<span class='text-info'>暂无</span>"}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-12 text-center">
            <h3  class="text-info">个人相关图片</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-4">
            {empty name="$id_cardimages|default=''"}
            <p style="margin-top: 8%"><strong>{:__('身份证正反面(多图)')}：</strong><span class="text-info">暂无</span></p>

            {else /}
            <strong class="imgClickTitle">{:__('身份证正反面(多图)')}：</strong>
            {foreach $id_cardimages as $k => $v}

            <img src="{$cdnurl}{$v}" alt="身份证正反面" class="imgBorder">
            {/foreach}
            {/empty}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            {empty name="$residence_bookletimages"}
            <p style="margin-top: 8%"><strong>{:__('户口簿【首页、主人页、本人页】')}：</strong><span class="text-info">暂无</span>
            </p>

            {else /}
            <strong class="imgClickTitle">{:__('户口簿【首页、主人页、本人页】')}：</strong>
            {foreach $residence_bookletimages as $k => $v}

            <img src="{$cdnurl}{$v}" alt="户口簿" class="imgBorder">
            {/foreach}
            {/empty}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
            {empty name="$drivers_licenseimages"}
            <p style="margin-top: 8%"><strong>{:__('驾照正副页(多图)')}：</strong><span class="text-info">暂无</span></p>

            {else /}
            <strong class="imgClickTitle">{:__('驾照正副页(多图)')}：</strong>
            {foreach $drivers_licenseimages as $k => $v}

            <img src="{$cdnurl}{$v}" alt="驾照正副页" class="imgBorder">
            {/foreach}
            {/empty}

        </div>
    </div>
    <hr>
    <div class="row">
        

        <div class="col-xs-12 col-sm-8 col-md-4">
            {empty name="$housingimages"}
            <p style="margin-top: 8%"><strong>{:__('住房合同/房产证(多图)')}：</strong><span class="text-info">暂无</span></p>

            {else /}
            <strong class="imgClickTitle">{:__('住房合同/房产证(多图)')}：</strong>
            {foreach $housingimages as $k => $v}

            <img src="{$cdnurl}{$v}" alt="" class="imgBorder">
            {/foreach}
            {/empty}

        </div>

        <div class="col-xs-12 col-sm-8 col-md-4">

            {empty name="$deposit_receiptimages"}
            <p style="margin-top: 8%"><strong>{:__('定金收据上传')}：</strong><span class="text-info">暂无</span></p>
            {else /}
            <strong class="imgClickTitle">{:__('定金收据上传')}：</strong>
            {foreach $deposit_receiptimages as $k => $v}

            <img src="{$cdnurl}{$v}" alt="定金收据上传" class="imgBorder">
            {/foreach}
            {/empty}

        </div>

        <div class="col-xs-12 col-sm-8 col-md-4">
            {empty name="$car_authorizationimages"}
            <p style="margin-top: 8%"><strong>{:__('滴滴授权承诺书')}：</strong> <span class="text-info">暂无</span></p>
            {else /}
            <strong class="imgClickTitle">{:__('滴滴授权承诺书')}：</strong>
            {foreach $car_authorizationimages as $k => $v}
            <img src="{$cdnurl}{$v}" alt="滴滴授权承诺书" class="imgBorder">
            {/foreach}
            {/empty}

        </div>


    </div>
    <hr>
    <div class="row">
        
        <div class="col-xs-12 col-sm-8 col-md-4">
            {empty name="$check_list"}
            <p style="margin-top: 8%"><strong>{:__('退车验车单')}：</strong> <span class="text-info">暂无</span></p>
            {else /}
            <strong class="imgClickTitle">{:__('退车验车单')}：</strong>
            {foreach $check_list as $k => $v}
            <img src="{$cdnurl}{$v}" alt="退车验车单" class="imgBorder">
            {/foreach}
            {/empty}

        </div>

        <div class="col-xs-12 col-sm-8 col-md-4" id="clear-div">

            {empty name="$call_listfilesimages"}
            <strong>{:__('通话清单')}：</strong><span class="text-info">暂无</span>

            {else /}
            <strong>{:__('通话清单')}：</strong>
            {foreach $call_listfilesimages as $k => $v}
            <a href="{$cdnurl}{$v}" target="_blank">
                {$cdnurl}{$v}
            </a>
            {/foreach}
            {/empty}
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-12 text-center">
            <h3 class="text-info">备注信息</h3>

        </div>

    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-8 col-md-12">
            <strong>{:__('租车方案备注')}：</strong> {empty name="$row.note"} <span class="text-info">暂无</span>{else /}{$row.note}{/empty}

        </div>


    </div>
    <hr>
    <div class="row">

        <div class="col-xs-12 col-sm-8 col-md-12">
            <strong>{:__('租车客户信息备注')}：</strong>{empty name="$row.customer_information_note"} <span class="text-info">暂无</span>{else /}{$row.customer_information_note}{/empty}

        </div>


    </div>
    <hr>
</div>
<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST"
      action="{:url('admin/Imagedownload/pack')}">

    <input type="hidden" id="hid" name="all">
    <input type="hidden" id="font" name="all_font">
    <input type="hidden" id="username" name="username" value="{$row.username} - {$row.phone} - {$row.models_name}">
    <div class="row layer-footer">
        <label class="control-label col-xs-12 col-sm-5"></label>

        <div class="col-xs-12 col-sm-5">
            <button class="btn btn-success btn-embossed disabled">{:__('下载图片')}</button>（请点击图片标题选中下载），键盘上下左右键可上/下张、顺/逆旋转

        </div>
    </div>

</form>


<script>
    image_preview($("img"));
    $(function () {
        var imgClickTitle = $('.imgClickTitle'),btn = $('.btn-embossed'),count_s = 0;
        imgClickTitle.css({'cursor':'pointer'})
        if(imgClickTitle.find('span').length==0){
            $(document).delegate('.imgClickTitle','click',function (e) {
                window.event? window.event.cancelBubble = true : e.stopPropagation();//阻止事件冒泡
                var that  = $(this);
                if (that.closest('div').find(".check-dowload").length == 0) {
                    that.closest('div').append('<strong style="position: absolute;left: 15px;top: 60px;" class=" text-success check-dowload">已选中下载 <i class="fa fa-check"></i> </strong>');
                    count_s++
                } else {
                    count_s--
                    that.closest('div').find(".check-dowload").remove();
                }
                count_s == 0?btn.addClass("disabled"):btn.hasClass("disabled")?btn.removeClass("disabled"):'';
                var all_val = [];
                var all_font = [];
                $(".row").find(".check-dowload").each(function () {
                    var count = 1;
                    $(this).prevAll("img").each(function () {
                        all_val.push($(this).attr("src"));
                        var fonts = $.trim($(this).prevAll("strong").html());
                        fonts = fonts.replace("：", "");
                        //判断如果文件名重复就加括号数字区分
                        if(all_font.indexOf(fonts)>-1){
                            fonts = fonts+"("+count+")";
                            count++;
                        }
                        all_font.push(fonts);
                    })
                })

                $("#hid").val(all_val);
                $("#font").val(all_font);
            })
        }

    //判断如果是单图，直接在js下载图片
    $(".btn-embossed").on('click', function (event) {

        var selects = imgClickTitle.closest('div').find(".check-span");

        if (count_s.length == 1) {

            var src = count_s.prevAll("img");

            if (src.length == 1) {
                event.preventDefault();
                download(src.attr("src"));
            }else{
                layer.msg('加载中', {
                    icon: 16,
                    shade: 0.01,
                    time: 2000
                });
            }


        } else {
            layer.msg('加载中', {
                icon: 16,
                shade: 0.01,
                time: 2000
            });
        }

    });

    //浏览器单个下载图片
    function download(src) {
        var $a = document.createElement('a');
        $a.setAttribute("href", src);
        $a.setAttribute("download", "");


        var evObj = document.createEvent('MouseEvents');
        evObj.initMouseEvent('click', true, true, window, 0, 0, 0, 0, 0, true, true, true, true, 0, null);
        $a.dispatchEvent(evObj);
    };

    })
</script>
