<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sales_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sales_id" data-rule="required" data-source="sales/index" class="form-control selectpage" name="row[sales_id]" type="text" value="">
        </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('选择门店名称')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select id="c-store_id" data-rule="required" class="form-control selectpicker" name="row[store_id]">
                <option value=" " style='display: none'>未选中任何项</option>
                {volist name="store" id="vo" }
                <option value=" " disabled style="background-color: #f2f2f2">{$vo.cities_name}</option>
                {volist name="vo.store" id="store_vo"}
                <option value="{$store_vo.store_id}">{$store_vo.store_name}</option>
                {/volist}
                {/volist}

            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('销售车型')}:</label>
        <div class="col-xs-12 col-sm-8">

            <input id="c-models_id" data-rule="required" data-source="secondhandcar/secondvehicleinformation/getModels" 
                data-params='{"custom[store_ids]":"0"}' class="form-control selectpage form-control" name="row[models_id]" type="text" value="">

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Licenseplatenumber')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-licenseplatenumber" data-rule="required" class="form-control" name="row[licenseplatenumber]" type="text">
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Models_id')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select id="c-models_id" data-rule="required" class="form-control selectpicker" name="row[models_id]">
                <option value=" " style='display: none'>未选中任何项</option>
                {volist name="car_models" id="vo"}
                <option disabled>{$vo.name}</option>
                {volist name="vo.models" id="model_vo"}
                <option value="{$model_vo.models_id}">{$model_vo.models_name}</option>
                {/volist}
                {/volist}

            </select>

        </div>
    </div> -->
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Models_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-models_id" data-rule="required" data-source="planmanagement/models/index" class="form-control selectpage" name="row[models_id]" type="text" value="">
        </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kilometres')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-kilometres" data-rule="required" class="form-control" name="row[kilometres]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Companyaccount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-companyaccount" data-rule="required" class="form-control" name="row[companyaccount]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Newpayment')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-newpayment" data-rule="required" class="form-control" name="row[newpayment]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Monthlypaymen')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-monthlypaymen" data-rule="required" class="form-control" name="row[monthlypaymen]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Periods')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-periods" data-rule="required" class="form-control" name="row[periods]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('全款方案总价（元）')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-totalprices" data-rule="required" class="form-control" name="row[totalprices]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('保证金(元)')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bond" data-rule="required" class="form-control" name="row[bond]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('尾款(元)')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tailmoney" data-rule="required" class="form-control" name="row[tailmoney]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Drivinglicenseimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-drivinglicenseimages" data-rule="required" class="form-control" size="50" name="row[drivinglicenseimages]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-drivinglicenseimages" class="btn btn-danger plupload" data-input-id="c-drivinglicenseimages" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-drivinglicenseimages"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-drivinglicenseimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-drivinglicenseimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Vin')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-vin" class="form-control" name="row[vin]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('发动机号')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-engine_number" class="form-control" name="row[engine_number]" type="text">
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Expirydate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-expirydate" class="form-control" name="row[expirydate]" type="number">
        </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('交强险到期时间')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-expirydate" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[expirydate]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('商业险到期时间')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-businessdate" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[businessdate]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('年检到期时间')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-annualverificationdate" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[annualverificationdate]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('上牌时间')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-car_licensedate" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM" data-use-current="true" name="row[car_licensedate]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('车牌所在地')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-license_plate" data-rule="required" class="form-control" name="row[license_plate]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('过户记录')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-the_transfer_record" data-rule="required" class="form-control" name="row[the_transfer_record]" type="text" placeholder="格式如：1次">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('变速箱')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-speed_changing_box" data-rule="required" class="form-control" name="row[speed_changing_box]" type="text"  placeholder="格式如：手动  自动" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('排放量')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-emission_load" data-rule="required" class="form-control" name="row[emission_load]" type="text" placeholder="格式如：1.8T 1.6L">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('排放标准')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-emission_standard" data-rule="required" class="form-control" name="row[emission_standard]" type="text" placeholder="格式如：国四 国五">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Carcolor')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-carcolor" class="form-control" name="row[carcolor]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Aeratedcard')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-aeratedcard" class="form-control" name="row[aeratedcard]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Volumekeys')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-volumekeys" class="form-control" name="row[volumekeys]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Parkingposition')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-Parkingposition" class="form-control" name="row[Parkingposition]" type="text">
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shelf')}:</label>
        <div class="col-xs-12 col-sm-8"> -->
                        
            <!-- <select  id="c-shelf" class="form-control selectpicker" name="row[shelf]">
                {foreach name="shelfList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select> -->
            <!-- <div class="radio">
                {foreach name="shelfList" item="vo"}
                <label for="row[shelf]-{$key}"><input id="row[shelf]-{$key}" name="row[shelf]" type="radio" value="{$key}" {in name="key" value="1"}checked{/in} /> {$vo}</label> 
                {/foreach}
            </div>

        </div>
    </div> -->
 <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Vehiclestate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-vehiclestate" class="form-control" name="row[vehiclestate]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Note')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-note" class="form-control" name="row[note]" type="text" placeholder="选填">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
