<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

   
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('选择门店名称')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select id="c-store_id" data-rule="required" class="form-control selectpicker" name="row[store_id]">
                <option value=" " style='display: none'>未选中任何项</option>
                {volist name="store" id="vo" }
                <option disabled>{$vo.cities_name}</option>
                {volist name="vo.store" id="store_vo"}
                {eq name="$store_vo.store_id" value="$row.store_id"}
                <option value="{$store_vo.store_id}" selected>{$store_vo.store_name}</option>
                {else /}
                <option value="{$store_vo.store_id}">{$store_vo.store_name}</option>
                {/eq}
                {/volist}
                {/volist}

            </select>

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('销售车型/方案')}:</label>
        <div class="col-xs-12 col-sm-8">

            <input id="c-models_id" data-rule="required" data-source="cms/logistics/getModels" 
                data-params='{"custom[store_ids]":"0"}' class="form-control selectpage form-control" name="row[models_id]" type="text" value="{$row.models_id}">

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Payment')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-payment" data-rule="required" class="form-control form-control" step="0.01" name="row[payment]" type="number" value="{$row.payment}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Monthly')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-monthly" data-rule="required" class="form-control form-control" step="0.01" name="row[monthly]" type="number" value="{$row.monthly}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Nperlist')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-nperlist" data-rule="required" class="form-control selectpicker" name="row[nperlist]">
                {foreach name="nperlistList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.nperlist"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Margin')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-margin" class="form-control form-control" step="0.01" name="row[margin]" type="number" value="{$row.margin}">
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Total_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_price" class="form-control form-control" step="0.01" name="row[total_price]" type="number" value="{$row.total_price}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('选择专题标题')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select id="c-subject_id" class="form-control selectpicker" name="row[subject_id]">

                <option value="" style="display: none">未选择任何项</option>
                {foreach name="$subject" item="vo"}
                {eq name="$vo.id" value="$row.subject_id"}
                <option value="{$vo.id}" selected>{$vo.title}</option>
                {else /}
                <option value="{$vo.id}">{$vo.title}</option>
                {/eq}
                {/foreach}

            </select>

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('选择标签名称(多选)')}:</label>
        <div class="col-xs-12 col-sm-8">
                {:Form::selectpages('row[label_id]', "$row[label_id]", 'cms/label/index', null, null)}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Models_main_images')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-models_main_images" class="form-control form-control" size="50" name="row[models_main_images]" type="text" value="{$row.models_main_images}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-models_main_images" class="btn btn-danger plupload" data-input-id="c-models_main_images" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-models_main_images"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                   
                </div>
                <span class="msg-box n-right" for="c-models_main_images"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-models_main_images"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Modelsimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-modelsimages" class="form-control form-control" size="50" name="row[modelsimages]" type="text" value="{$row.modelsimages}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-modelsimages" class="btn btn-danger plupload" data-input-id="c-modelsimages" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-modelsimages"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    
                </div>
                <span class="msg-box n-right" for="c-modelsimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-modelsimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Specialimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-specialimages" class="form-control form-control" size="50" name="row[specialimages]" type="text" value="{$row.specialimages}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-specialimages" class="btn btn-danger plupload" data-input-id="c-specialimages" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-specialimages"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    
                </div>
                <span class="msg-box n-right" for="c-specialimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-specialimages"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Note')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-note" class="form-control  form-control" rows="4" name="row[note]" cols="50">{$row.note}</textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
